<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap102adm/gigaspaces-management-center.html'>Management Center</a>
<ul style='display: none'>
<li><a href='/xap102adm/gigaspaces-browser.html'>Main View</a></li>
<li><a href='/xap102adm/gigaspaces-browser-menus-and-buttons.html'>Menus and Buttons</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap102adm/gigaspaces-browser-tree-panel-and-configuration-panel.html'>Grid Tree & Configuration</a>
<ul style='display: none'>
<li><a href='/xap102adm/gigaspaces-browser-connection-view.html'>Connections View</a></li>
<li><a href='/xap102adm/gigaspaces-browser-data-types-view.html'>Data Types View</a></li>
<li><a href='/xap102adm/gigaspaces-browser-object-inspector.html'>Object Inspector</a></li>
<li><a href='/xap102adm/gigaspaces-browser-query-view.html'>Query View</a></li>
<li><a href='/xap102adm/gigaspaces-browser-statistics-view.html'>Statistics View</a></li>
<li><a href='/xap102adm/gigaspaces-browser-transaction-view.html'>Transactions View</a></li>
</ul>
</li>
<li><a href='/xap102adm/gigaspaces-browser-managing-space-container.html'>Space Containers</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap102adm/working-with-clusters-gigaspaces-browser.html'>Working with Clusters</a>
<ul style='display: none'>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap102adm/cluster-view-gigaspaces-browser.html'>Cluster View</a>
<ul style='display: none'>
<li><a href='/xap102adm/customizing-cluster-view-gigaspaces-browser.html'>Customizing</a></li>
<li><a href='/xap102adm/viewing-cluster-policy-settings-for-space-gigaspaces-browser.html'>Policy Settings</a></li>
<li><a href='/xap102adm/viewing-space-interrelations-in-cluster-gigaspaces-browser.html'>Space Inter-relations</a></li>
<li><a href='/xap102adm/visualizing-cluster-groups-and-members-gigaspaces-browser.html'>Groups and Members</a></li>
</ul>
</li>
<li><a href='/xap102adm/failover-group-gigaspaces-browser.html'>Failover Group</a></li>
<li><a href='/xap102adm/load-balancing-group-gigaspaces-browser.html'>Load-Balancing Group</a></li>
<li><a href='/xap102adm/replication-group-gigaspaces-browser.html'>Replication Group</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap102adm/working-with-spaces-gigaspaces-browser.html'>Working with Spaces</a>
<ul style='display: none'>
<li><a href='/xap102adm/space-jms-gigaspaces-browser.html'>Space JMS</a></li>
<li><a href='/xap102adm/space-maintenance-gigaspaces-browser.html'>Maintenance</a></li>
<li><a href='/xap102adm/space-memory-management-gigaspaces-browser.html'>Memory Management</a></li>
<li><a href='/xap102adm/space-serialization-and-engine-thread-pool-gigaspaces-browser.html'>Serialization and Thread Pool</a></li>
<li><a href='/xap102adm/space-timeout,-filters-and-lease-manager-gigaspaces-browser.html'>Timeout, Filters and Lease Manager</a></li>
</ul>
</li>
<li><a href='/xap102adm/pending-notify-templates-information.html'>Pending Notify Templates</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap102adm/web-management-console.html'>Web Management Console</a>
<ul style='display: none'>
<li><a href='/xap102adm/web-management-console-console.html'>Overview</a></li>
<li><a href='/xap102adm/web-management-console-configuration.html'>Configuration</a></li>
<li><a href='/xap102adm/web-management-console-starting.html'>Starting the Console</a></li>
<li><a href='/xap102adm/web-management-hosts-view.html'>Hosts</a></li>
<li><a href='/xap102adm/web-management-common-view.html'>Menu Bar</a></li>
<li><a href='/xap102adm/web-management-pu.html'>Processing Units</a></li>
<li><a href='/xap102adm/web-management-data-grid-view.html'>Spaces</a></li>
<li><a href='/xap102adm/web-management-monitoring.html'>Monitoring</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap102adm/data-grid-clustering.html'>Data Grid Clustering</a>
<ul style='display: none'>
<li><a href='/xap102adm/data-grid-clustering-overview.html'>Clustering</a></li>
<li><a href='/xap102adm/clustered-vs-non-clustered-proxies.html'>Clustered vs Non-Clustered Proxies</a></li>
<li><a href='/xap102adm/consistency-level.html'>Consistency Level</a></li>
<li><a href='/xap102adm/data-partitioning.html'>Data-Partitioning</a></li>
<li><a href='/xap102adm/failover.html'>Failover</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap102adm/replication.html'>Replication</a>
<ul style='display: none'>
<li><a href='/xap102adm/replication-overview.html'>Overview</a></li>
<li><a href='/xap102adm/replication-topologies.html'>Topologies</a></li>
<li><a href='/xap102adm/synchronous-replication.html'>Synchronous Replication</a></li>
<li><a href='/xap102adm/asynchronous-replication.html'>Asynchronous Replication</a></li>
<li><a href='/xap102adm/space-instance-recovery.html'>Space Instance Recovery</a></li>
<li><a href='/xap102adm/cluster-replication-filters.html'>Replication Filters</a></li>
<li><a href='/xap102adm/replication-operations.html'>Replication Operations</a></li>
<li><a href='/xap102adm/controlling-the-replication-redo-log.html'>Controlling the Replication Redo Log</a></li>
<li><a href='/xap102adm/replication-parameters.html'>Replication Parameters</a></li>
</ul>
</li>
<li><a href='/xap102adm/split-brain-and-primary-resolution.html'>Split Brain and Primary Resolution</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap102adm/the-sla-overview.html'>Service Level Agreement</a>
<ul style='display: none'>
<li><a href='/xap102adm/the-sla.html'>Overview</a></li>
<li><a href='/xap102adm/the-sla-zones.html'>Hosts, Zones & Machine Utilization</a></li>
<li><a href='/xap102adm/the-sla-deterministic.html'>Deterministic Deployment</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap102adm/memory-management-overview.html'>Memory Management</a>
<ul style='display: none'>
<li><a href='/xap102adm/memory-management-facilities.html'>Overview</a></li>
<li><a href='/xap102adm/all-in-cache-cache-policy.html'>ALL IN CACHE-Cache Policy</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap102adm/lru-cache-policy.html'>LRU-Cache Policy</a>
<ul style='display: none'>
<li><a href='/xap102adm/custom-eviction-policy.html'>Custom Eviction Policy</a></li>
</ul>
</li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap102adm/memoryxtend.html'>MemoryXtend</a>
<ul style='display: none'>
<li><a href='/xap102adm/memoryxtend-rocksdb-ssd.html'>SSD - RocksDB Add-On</a></li>
<li><a href='/xap102adm/memoryxtend-ohr.html'>Off Heap - MapDB Add-On</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap102adm/memoryxtend-ssd.html'>SSD - ZetaScale Add-On</a>
<ul style='display: none'>
<li><a href='/xap102adm/memoryxtend-ssd-overview.html'>Overview</a></li>
<li><a href='/xap102adm/memoryxtend-ssd-tuning-guide.html'>Advanced Tuning Guide</a></li>
<li><a href='/xap102adm/memoryxtend-ssd-trouble-shooting.html'>Troubleshooting</a></li>
</ul>
</li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap102adm/logging-overview.html'>Logging</a>
<ul style='display: none'>
<li><a href='/xap102adm/logging.html'>Overview</a></li>
<li><a href='/xap102adm/logging-formatting-messages.html'>Formatting Log Messages</a></li>
<li><a href='/xap102adm/logging-api.html'>Logging API</a></li>
<li><a href='/xap102adm/logging-managing-files.html'>Managing Log Files</a></li>
<li><a href='/xap102adm/logging-backing-custom-policy.html'>Backing-up Files With a Custom Policy</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap102adm/administration-tools.html'>Administration Tools</a>
<ul style='display: none'>
<li><a href='/xap102adm/scripts.html'>Scripts</a></li>
<li><a href='/xap102adm/command-line-interface.html'>Command Line Interface</a></li>
<li><a href='/xap102adm/deploy-command-line-interface.html'>Deploy with Command Line</a></li>
<li><a href='/xap102adm/elastic-deploy-command-line-interface.html'>Elastic Deployment with Command Line</a></li>
<li><a href='/xap102adm/rest-deploy-command-line-interface.html'>Deploying REST service with Command Line</a></li>
<li><a href='/xap102adm/space-gigaspaces-cli.html'>Space Command Line Interface</a></li>
<li><a href='/xap102adm/quiesce-command-line-interface.html'>Quiesce Command Line</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap102adm/runtime-configuration.html'>Runtime Configuration</a>
<ul style='display: none'>
<li><a href='/xap102adm/the-runtime-environment.html'>The Runtime Environment</a></li>
<li><a href='/xap102adm/lus-configuration.html'>Global vs. Local LUS</a></li>
<li><a href='/xap102adm/gsm-configuration.html'>Global vs. Local GSM</a></li>
<li><a href='/xap102adm/system-properties.html'>System Properties</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap102adm/network.html'>Network Configuration</a>
<ul style='display: none'>
<li><a href='/xap102adm/network-unicast-discovery.html'>Unicast Discovery</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap102adm/network-multicast.html'>Multicast Configuration</a>
<ul style='display: none'>
<li><a href='/xap102adm/network-multicast-is-available.html'>Is Multicast Available</a></li>
</ul>
</li>
<li><a href='/xap102adm/network-lookup-service-configuration.html'>Lookup Service Configuration</a></li>
<li><a href='/xap102adm/network-over-nat.html'>XAP Over NAT</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap102adm/network-multi-nic.html'>Multiple Network-Cards</a>
<ul style='display: none'>
<li><a href='/xap102adm/network-multi-nic-advanced.html'>Advanced Configuration</a></li>
</ul>
</li>
<li><a href='/xap102adm/network-over-firewall.html'>XAP Over a Firewall</a></li>
<li><a href='/xap102adm/network-ports.html'>Port usage Control</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap102adm/monitoring.html'>Monitoring</a>
<ul style='display: none'>
<li><a href='/xap102adm/monitoring-network-activity.html'>Network Monitoring</a></li>
<li><a href='/xap102adm/space-jmx-management.html'>JMX Management</a></li>
<li><a href='/xap102adm/suggested-monitoring-tools.html'>Monitoring Tools</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap102adm/metrics-overview.html'>Metrics</a>
<ul style='display: none'>
<li><a href='/xap102adm/metrics-configuration.html'>Configuration</a></li>
<li><a href='/xap102adm/metrics-influxdb-reporter.html'>InfluxDB Reporter</a></li>
<li><a href='/xap102adm/ca-apm-introscope-reporter.html'>CA APM Introscope Reporter</a></li>
<li><a href='/xap102adm/metrics-custom-reporter.html'>Custom Reporter</a></li>
<li><a href='/xap102adm/metrics-user-defined.html'>User Defined Metrics</a></li>
<li><a href='/xap102adm/metrics-bundled.html'>Predefined Metrics</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap102adm/tuning.html'>Performance Tuning</a>
<ul style='display: none'>
<li><a href='/xap102adm/tuning-infrastructure.html'>Infrastructure</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap102adm/tuning-gigaspaces-performance-overview.html'>XAP Performance</a>
<ul style='display: none'>
<li><a href='/xap102adm/tuning-gigaspaces-performance.html'>Tuning XAP</a></li>
<li><a href='/xap102adm/slow-consumer.html'>Slow Consumer</a></li>
<li><a href='/xap102adm/tuning-large-scale-deployment.html'>Large Scale Deployment</a></li>
<li><a href='/xap102adm/tuning-proxy-connectivity.html'>Proxy Connectivity</a></li>
<li><a href='/xap102adm/tuning-handling-large-objects.html'>Handling Large Objects</a></li>
<li><a href='/xap102adm/tuning-communication-protocol.html'>Communication Protocol</a></li>
</ul>
</li>
<li><a href='/xap102adm/tuning-java-virtual-machines.html'>Java Virtual Machines</a></li>
<li><a href='/xap102adm/tuning-threads-usage.html'>Threads Usage</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap102adm/benchmarking.html'>Benchmarking</a>
<ul style='display: none'>
<li><a href='/xap102adm/benchmarking-intro.html'>Overview</a></li>
<li><a href='/xap102adm/benchmark-utility-cli.html'>Utility</a></li>
<li><a href='/xap102adm/benchmark-browser.html'>Benchmark View</a></li>
<li><a href='/xap102adm/benchmark-c++.html'>C++ Benchmark</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap102adm/quiescemode.html'>Quiesce Mode</a>
<ul style='display: none'>
<li><a href='/xap102adm/quiesce-overview.html'>Overview</a></li>
<li><a href='/xap102adm/quiesce-pu-api.html'>API and Usage</a></li>
<li><a href='/xap102adm/quiesce-limitations.html'>Limitations and Considerations</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap102adm/troubleshooting.html'>Troubleshooting</a>
<ul style='display: none'>
<li><a href='/xap102adm/troubleshooting-common-user-issues.html'>Common User Issues</a></li>
<li><a href='/xap102adm/troubleshooting-protective-modes.html'>Protective Modes</a></li>
<li><a href='/xap102adm/troubleshooting-testing-system-environment.html'>Testing System Environment</a></li>
<li><a href='/xap102adm/troubleshooting-viewing-clustered-space-status.html'>Viewing Clustered Space Status</a></li>
<li><a href='/xap102adm/troubleshooting-failure-detection.html'>Failure Detection</a></li>
<li><a href='/xap102adm/troubleshooting-tools.html'>Tools</a></li>
</ul>
</li>
<li><a href='/xap102adm/moving-into-production-checklist.html'>Moving into Production Checklist</a></li>
