<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap101/installation.html'>Installation</a>
<ul style='display: none'>
<li><a href='/xap101/license-key.html'>License Key</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap101/installation-java.html'>XAP Java Installation</a>
<ul style='display: none'>
<li><a href='/xap101/common-environment-variables.html'>Environment Variables</a></li>
<li><a href='/xap101/setting-classpath.html'>Setting Classpath</a></li>
<li><a href='/xap101/setting-jvm-location.html'>Setting JVM Location</a></li>
</ul>
</li>
<li><a href='/xap101/installing-cpp-api-package.html'>C++</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap101/maven-plugin.html'>Maven Plugin</a>
<ul style='display: none'>
<li><a href='/xap101/maven-plugin-advanced.html'>Advanced Configuration</a></li>
</ul>
</li>
<li><a href='/xap101/setting-up-eclipse-to-work-with-xap.html'>Eclipse setup</a></li>
<li><a href='/xap101/running-and-debugging-within-your-ide.html'>Running and Debugging Within Your IDE</a></li>
<li><a href='/xap101/installation-eclipse-junit.html'>JUnit Testing</a></li>
<li><a href='/xap101/running-gigaspaces-as-a-windows-service.html'>XAP as Windows Service</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap101/pojo-overview.html'>POJO Support</a>
<ul style='display: none'>
<li><a href='/xap101/pojo-support.html'>Overview</a></li>
<li><a href='/xap101/dynamic-properties.html'>Dynamic Properties</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap101/document-overview.html'>Space Document</a>
<ul style='display: none'>
<li><a href='/xap101/document-api.html'>Document API</a></li>
<li><a href='/xap101/document-extending.html'>Extended Document</a></li>
<li><a href='/xap101/document-pojo-interoperability.html'>Interoperability</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap101/modeling-your-data.html'>Modeling your Data</a>
<ul style='display: none'>
<li><a href='/xap101/space-object-id-operations.html'>Space Object ID</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap101/pojo-annotation-overview.html'>Annotation based Metadata</a>
<ul style='display: none'>
<li><a href='/xap101/pojo-class-annotations.html'>Class Annotations</a></li>
<li><a href='/xap101/pojo-attribute-annotations.html'>Property Annotations</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap101/pojo-xml-metadata-overview.html'>XML based Metadata</a>
<ul style='display: none'>
<li><a href='/xap101/pojo-xml-metadata-class.html'>Class Metadata</a></li>
<li><a href='/xap101/pojo-xml-metadata-attribute.html'>Properties Metadata</a></li>
</ul>
</li>
<li><a href='/xap101/pojo-grid-annotations.html'>Grid Metadata</a></li>
<li><a href='/xap101/storage-types-controlling-serialization.html'>Storage Types</a></li>
<li><a href='/xap101/custom-serialization.html'>Custom Serialization</a></li>
<li><a href='/xap101/routing-in-partitioned-spaces.html'>Routing In Partitioned Spaces</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap101/the-gigaspace-interface-overview.html'>The Space Interface</a>
<ul style='display: none'>
<li><a href='/xap101/the-gigaspace-interface.html'>Overview</a></li>
<li><a href='/xap101/the-space-configuration.html'>Configuration</a></li>
<li><a href='/xap101/the-space-operations.html'>Operations</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap101/change-api-overview.html'>Change API</a>
<ul style='display: none'>
<li><a href='/xap101/change-api.html'>Overview</a></li>
<li><a href='/xap101/change-api-custom-operation.html'>Custom Change</a></li>
<li><a href='/xap101/change-api-advanced.html'>Advanced</a></li>
</ul>
</li>
<li><a href='/xap101/the-space-counters.html'>Counters</a></li>
<li><a href='/xap101/aggregators.html'>Aggregators</a></li>
<li><a href='/xap101/the-space-transactions.html'>Transactions</a></li>
<li><a href='/xap101/the-space-notifications.html'>Notifications</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap101/the-space-filters.html'>Space Filters</a>
<ul style='display: none'>
<li><a href='/xap101/the-space-filters-metadata.html'>Interceptors</a></li>
</ul>
</li>
<li><a href='/xap101/space-mode-context-loader.html'>Space Mode Context Loader</a></li>
<li><a href='/xap101/leases-automatic-expiration.html'>Lease Time</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap101/querying-the-space.html'>Querying the Space</a>
<ul style='display: none'>
<li><a href='/xap101/query-by-id.html'>Id Queries</a></li>
<li><a href='/xap101/query-template-matching.html'>Template Matching</a></li>
<li><a href='/xap101/query-sql.html'>SQLQuery</a></li>
<li><a href='/xap101/query-free-text-search.html'>Free Text Search</a></li>
<li><a href='/xap101/query-nested-properties.html'>Nested Properties</a></li>
<li><a href='/xap101/query-user-defined-classes.html'>User Defined Classes</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap101/query-paging-support.html'>Paging Support</a>
<ul style='display: none'>
<li><a href='/xap101/query-paging-support-old.html'>Paging Support - GSIterator</a></li>
</ul>
</li>
<li><a href='/xap101/query-partial-results.html'>Projection</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap101/indexing-overview.html'>Indexing</a>
<ul style='display: none'>
<li><a href='/xap101/indexing.html'>Basic Index</a></li>
<li><a href='/xap101/indexing-nested-properties.html'>Nested Property Index</a></li>
<li><a href='/xap101/indexing-collections.html'>Collection Index</a></li>
<li><a href='/xap101/indexing-compound.html'>Compound Index</a></li>
<li><a href='/xap101/indexing-unique.html'>Unique Index</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap101/transaction-overview.html'>Transactions</a>
<ul style='display: none'>
<li><a href='/xap101/transaction-management.html'>Transaction Management</a></li>
<li><a href='/xap101/transaction-locking-and-blocking.html'>Locking and Blocking</a></li>
<li><a href='/xap101/transaction-read-modifiers.html'>Read Modifiers</a></li>
<li><a href='/xap101/transaction-optimistic-locking.html'>Optimistic Locking</a></li>
<li><a href='/xap101/transaction-pessimistic-locking.html'>Pessimistic Locking</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap101/space-persistency-overview.html'>Space Persistency</a>
<ul style='display: none'>
<li><a href='/xap101/space-persistency.html'>Overview</a></li>
<li><a href='/xap101/direct-persistency.html'>Direct Persistency</a></li>
<li><a href='/xap101/hibernate-space-persistency.html'>Hibernate Integration</a></li>
<li><a href='/xap101/space-data-source-api.html'>Data Source</a></li>
<li><a href='/xap101/space-synchronization-endpoint-api.html'>Synchronization Endpoint</a></li>
<li><a href='/xap101/space-persistency-initial-load.html'>Initial Load</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap101/asynchronous-persistency-with-the-mirror.html'>Asynchronous Persistency - Write Behind</a>
<ul style='display: none'>
<li><a href='/xap101/async-persistency-mirror-advanced.html'>Advanced Configuration</a></li>
</ul>
</li>
<li><a href='/xap101/transient-entries.html'>Transient Entries</a></li>
<li><a href='/xap101/space-persistency-advanced-topics.html'>Advanced Topics</a></li>
<li><a href='/xap101/persistency-migrating-hibernate.html'>Migrating from Hibernate</a></li>
<li><a href='/xap101/migrating-from-external-data-source-api.html'>Migrating From External Data Source API</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap101/other-data-access-apis.html'>Other Data Access APIs</a>
<ul style='display: none'>
<li><a href='/xap101/jdbc-driver.html'>JDBC Driver</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap101/jpa-api-overview.html'>JPA API</a>
<ul style='display: none'>
<li><a href='/xap101/jpa-api.html'>Overview</a></li>
<li><a href='/xap101/jpa-entity-id.html'>JPA Entity Id</a></li>
<li><a href='/xap101/jpa-relationships.html'>JPA Relationships</a></li>
<li><a href='/xap101/jpa-limitations.html'>Limitations</a></li>
</ul>
</li>
<li><a href='/xap101/map-api.html'>Map API</a></li>
<li><a href='/xap101/memcached-api.html'>Memcached API</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap101/client-side-caching.html'>Client Side Caching</a>
<ul style='display: none'>
<li><a href='/xap101/local-cache.html'>Local Cache</a></li>
<li><a href='/xap101/local-view.html'>Local View</a></li>
<li><a href='/xap101/client-side-caching-over-the-wan.html'>Caching over the WAN</a></li>
<li><a href='/xap101/monitoring-the-client-side-cache.html'>Monitoring Client Side Cache</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap101/task-execution-overview.html'>Task Execution</a>
<ul style='display: none'>
<li><a href='/xap101/task-execution-over-the-space.html'>Overview</a></li>
<li><a href='/xap101/task-dynamic-language.html'>Dynamic Language Tasks</a></li>
<li><a href='/xap101/task-metadata.html'>Metadata</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap101/event-processing.html'>Event Processing</a>
<ul style='display: none'>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap101/notify-container-overview.html'>Notify Container</a>
<ul style='display: none'>
<li><a href='/xap101/notify-container.html'>Overview</a></li>
<li><a href='/xap101/notify-container-transactions.html'>Transaction Support</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap101/session-based-messaging-api.html'>Session Based Messaging API</a>
<ul style='display: none'>
<li><a href='/xap101/durable-notifications.html'>Durable Notifications</a></li>
<li><a href='/xap101/custom-data-event-filters.html'>Custom Data Event Filters</a></li>
</ul>
</li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap101/polling-container-overview.html'>Polling Container</a>
<ul style='display: none'>
<li><a href='/xap101/polling-container.html'>Overview</a></li>
<li><a href='/xap101/polling-container-transactions.html'>Transaction Support</a></li>
<li><a href='/xap101/polling-container-scaling.html'>Concurrent Consumers</a></li>
</ul>
</li>
<li><a href='/xap101/data-event-listener.html'>Data Event Listener</a></li>
<li><a href='/xap101/event-exception-handler.html'>Event Exception Handler</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap101/fifo-overview.html'>FIFO Ordering</a>
<ul style='display: none'>
<li><a href='/xap101/fifo-support.html'>FIFO Support</a></li>
<li><a href='/xap101/fifo-grouping.html'>FIFO Grouping</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap101/messaging-support.html'>JMS Messaging Support</a>
<ul style='display: none'>
<li><a href='/xap101/jms-api-basic-usage.html'>JMS Basics</a></li>
<li><a href='/xap101/jms-messages-in-gigaspaces.html'>JMS Messages in XAP</a></li>
<li><a href='/xap101/jms-space-interoperability.html'>JMS-Space Interoperability</a></li>
<li><a href='/xap101/jms-with-openspaces-example.html'>Example</a></li>
<li><a href='/xap101/jms-with-gigaspaces-jndi.html'>XAP JNDI</a></li>
<li><a href='/xap101/jms-with-gsjmsadmin.html'>Working with GSJMSAdmin</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap101/jms-advanced.html'>Advanced Options</a>
<ul style='display: none'>
<li><a href='/xap101/jms-failover.html'>JMS Failover</a></li>
<li><a href='/xap101/jms-transactions-in-gigaspaces.html'>Transactions</a></li>
<li><a href='/xap101/jms-user-security.html'>Security</a></li>
<li><a href='/xap101/jms-queue-browser.html'>Browsing JMS Queues</a></li>
<li><a href='/xap101/jms-known-issues-and-considerations.html'>Known Issues and Considerations</a></li>
<li><a href='/xap101/jms-without-changing-the-classpath.html'>Using GigaSpaces JMS Without Changing the Classpath</a></li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap101/space-based-remoting-overview.html'>Space Based Remoting</a>
<ul style='display: none'>
<li><a href='/xap101/space-based-remoting.html'>Overview</a></li>
<li><a href='/xap101/executor-based-remoting.html'>Executor Based Remoting</a></li>
<li><a href='/xap101/event-driven-remoting.html'>Event Driven Remoting</a></li>
<li><a href='/xap101/remoting-metadata.html'>Metadata Summary</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap101/mule-esb.html'>Mule ESB Integration</a>
<ul style='display: none'>
<li><a href='/xap101/mule-event-container-transport.html'>Event Container Transport</a></li>
<li><a href='/xap101/mule-processing-unit.html'>Processing Unit</a></li>
<li><a href='/xap101/mule-queue-provider.html'>Queue Provider</a></li>
<li><a href='/xap101/mule-seda-model.html'>SEDA Model</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap101/big-data.html'>Big Data Integration</a>
<ul style='display: none'>
<li><a href='/xap101/archive-container.html'>Archive Container</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap101/cassandra.html'>Cassandra Integration</a>
<ul style='display: none'>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap101/cassandra-space-persistency.html'>Cassandra Persistency</a>
<ul style='display: none'>
<li><a href='/xap101/cassandra-space-data-source.html'>Data Source</a></li>
<li><a href='/xap101/cassandra-space-synchronization-endpoint.html'>Synchronization Endpoint</a></li>
<li><a href='/xap101/cassandra-hector-client.html'>Hector Client</a></li>
</ul>
</li>
<li><a href='/xap101/cassandra-archive-operation-handler.html'>Archive Handler</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap101/mongodb.html'>MongoDB Integration</a>
<ul style='display: none'>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap101/mongodb-space-persistency.html'>Mongo Persistency</a>
<ul style='display: none'>
<li><a href='/xap101/mongodb-space-data-source.html'>Data Source</a></li>
<li><a href='/xap101/mongodb-space-synchronization-endpoint.html'>Synchronization Endpoint</a></li>
</ul>
</li>
<li><a href='/xap101/mongodb-archive-operation-handler.html'>Archive Handler</a></li>
</ul>
</li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap101/administration-and-monitoring-overview.html'>Admin API</a>
<ul style='display: none'>
<li><a href='/xap101/administration-and-monitoring-api.html'>Overview</a></li>
<li><a href='/xap101/dump.html'>Dump</a></li>
<li><a href='/xap101/administrative-alerts.html'>Administrative Alerts</a></li>
<li><a href='/xap101/snmp-connectivity-via-alert-logging-gateway.html'>SNMP Alerts</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap101/the-processing-unit-overview.html'>The Processing Unit</a>
<ul style='display: none'>
<li><a href='/xap101/the-processing-unit-structure-and-configuration.html'>Directory Structure</a></li>
<li><a href='/xap101/configuring-processing-unit-elements.html'>Configuration</a></li>
<li><a href='/xap101/obtaining-cluster-information.html'>Cluster Information</a></li>
<li><a href='/xap101/reloading-business-logic.html'>Reloading Business Logic</a></li>
<li><a href='/xap101/custom-processing-unit-details-and-monitors.html'>Custom Processing Unit</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap101/deploying-and-running-overview.html'>Deploying and Running</a>
<ul style='display: none'>
<li><a href='/xap101/deploying-and-running-the-processing-unit.html'>Overview</a></li>
<li><a href='/xap101/running-in-standalone-mode.html'>Standalone Mode</a></li>
<li><a href='/xap101/deploying-onto-the-service-grid.html'>Deploying onto the Grid</a></li>
<li><a href='/xap101/deployment-properties.html'>Deployment Properties</a></li>
</ul>
</li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap101/elastic-processing-unit-overview.html'>Elastic Processing Unit</a>
<ul style='display: none'>
<li><a href='/xap101/elastic-processing-unit.html'>Overview</a></li>
<li><a href='/xap101/elastic-processing-unit-deploy.html'>Deployment</a></li>
<li><a href='/xap101/elastic-processing-unit-trigger.html'>Scale Triggers</a></li>
<li><a href='/xap101/elastic-processing-unit-provisioning.html'>Machine Provisioning</a></li>
<li><a href='/xap101/elastic-processing-unit-properties.html'>Configuration Properties</a></li>
<li><a href='/xap101/elastic-processing-unit-example.html'>Example</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap101/web-application-overview.html'>Web Application Support</a>
<ul style='display: none'>
<li><a href='/xap101/web-application-support.html'>Web Application Support - Overview</a></li>
<li><a href='/xap101/web-jetty-processing-unit-container.html'>Jetty Processing Unit Container</a></li>
<li><a href='/xap101/http-session-management.html'>HTTP Session Management</a></li>
<li><a href='/xap101/web-processing-unit-container.html'>Web Processing Unit Container</a></li>
<li><a href='/xap101/apache-load-balancer-agent.html'>Apache Load Balancer Agent</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap101/global-http-session-sharing-overview.html'>Global HTTP Session Sharing</a>
<ul style='display: none'>
<li><a href='/xap101/global-http-session-sharing.html'>Overview</a></li>
<li><a href='/xap101/global-http-session-sharing-configuration.html'>Configuration & Deployment</a></li>
<li><a href='/xap101/global-http-session-sharing-load-balancer.html'>Apache Load-Balancer</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap101/multi-space-replication-overview.html'>Multi Site LAN Replication</a>
<ul style='display: none'>
<li><a href='/xap101/multi-space-replication-over-the-lan-or-vpn.html'>Overview</a></li>
<li><a href='/xap101/replication-gateway-lan-bootstrapping-process.html'>Gateway Bootstrapping</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap101/multi-site-replication-overview.html'>Multi Site WAN Replication</a>
<ul style='display: none'>
<li><a href='/xap101/multi-site-replication-over-the-wan.html'>Overview</a></li>
<li><a href='/xap101/communication-filter-over-the-wan.html'>Communication Filter</a></li>
<li><a href='/xap101/replication-gateway-components.html'>Gateway Components</a></li>
<li><a href='/xap101/configuring-space-gateway-targets.html'>Configuring Targets</a></li>
<li><a href='/xap101/replication-gateway-bootstrapping-process.html'>Bootstrapping Process</a></li>
<li><a href='/xap101/multi-site-conflict-resolution.html'>Conflict Resolution</a></li>
<li><a href='/xap101/changing-multi-site-deployment-during-runtime.html'>Changing Deployment during Runtime</a></li>
<li><a href='/xap101/replication-gateway-filtering.html'>Filtering  Data</a></li>
<li><a href='/xap101/intercepting-replication-events-at-the-gateway.html'>Intercepting Replication Events</a></li>
<li><a href='/xap101/multi-site-replication-limitations.html'>Limitations</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap101/interoperability-overview.html'>Platform Interoperability</a>
<ul style='display: none'>
<li><a href='/xap101/interoperability.html'>Overview</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap101/xap-cpp.html'>CPP</a>
<ul style='display: none'>
<li><a href='/xap101/cpp-overview.html'>Overview</a></li>
<li><a href='/xap101/cpp-space-interface.html'>The CPP Space Interface</a></li>
<li><a href='/xap101/cpp-api-mapping-file.html'>API Mapping File</a></li>
<li><a href='/xap101/cpp-type-converter.html'>Type Converter</a></li>
<li><a href='/xap101/cpp-processing-unit.html'>CPP Processing Unit</a></li>
<li><a href='/xap101/cpp-api-code-generator.html'>API Code Generator</a></li>
<li><a href='/xap101/cpp-gsxml-utility.html'>gsxml2cpp Utility</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap101/cpp-api-examples.html'>CPP Examples</a>
<ul style='display: none'>
<li><a href='/xap101/cpp-api-hello-world-example.html'>Hello World</a></li>
<li><a href='/xap101/cpp-api-usage-example.html'>CPP API Usage</a></li>
<li><a href='/xap101/cpp-processing-unit-example.html'>Processing Unit</a></li>
<li><a href='/xap101/cpp-writing-existing-class-to-space.html'>Writing Existing Class to Space</a></li>
</ul>
</li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap101/rest-service-overview.html'>The REST Service</a>
<ul style='display: none'>
<li><a href='/xap101/rest-service.html'>Overview</a></li>
<li><a href='/xap101/rest-service-api.html'>REST API</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap101/scala.html'>Scala</a>
<ul style='display: none'>
<li><a href='/xap101/scala-constructor-based-properties.html'>Constructor Based Properties</a></li>
<li><a href='/xap101/scala-enhanced-repl.html'>Enhanced Scala REPL</a></li>
<li><a href='/xap101/scala-predicate-based-queries.html'>Predicate Based Queries</a></li>
<li><a href='/xap101/scala-scripting-executor.html'>Scripting Executor</a></li>
<li><a href='/xap101/scala-task-execution.html'>Scala Task Execution</a></li>
</ul>
</li>
</ul>
</li>
