<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap97net/installation-overview.html'>Installation</a>
<ul style='display: none'>
<li><a href='/xap97net/installation.html'>Overview</a></li>
<li><a href='/xap97net/license-key.html'>License Key</a></li>
<li><a href='/xap97net/advanced-installation-scenarios.html'>Advanced Scenarios</a></li>
<li><a href='/xap97net/product-structure.html'>Product structure</a></li>
<li><a href='/xap97net/gigaspaces-services-manager.html'>Services Manager</a></li>
<li><a href='/xap97net/debugging-a-xapnet-application.html'>Application Debugging</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap97net/tutorials.html'>Getting Started</a>
<ul style='display: none'>
<li><a href='/xap97net/dotnet-your-first-data-grid-application.html'>XAP.NET in 5 Minutes</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap97net/net-home.html'>Full Tutorial</a>
<ul style='display: none'>
<li><a href='/xap97net/net-tutorial-part1.html'>Interacting with the Space</a></li>
<li><a href='/xap97net/net-tutorial-part2.html'>Deploying a Space</a></li>
<li><a href='/xap97net/net-tutorial-part3.html'>Processing Services</a></li>
<li><a href='/xap97net/net-tutorial-part4.html'>Events and Messaging</a></li>
<li><a href='/xap97net/net-tutorial-part5.html'>The Processing Unit</a></li>
<li><a href='/xap97net/net-tutorial-part6.html'>Space Transactions</a></li>
<li><a href='/xap97net/net-tutorial-part7.html'>Space Persistence</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap97net/cook-books.html'>Cook Books</a>
<ul style='display: none'>
<li><a href='/xap97net/dotnet-your-first-xtp-application.html'>Your First XAP Application</a></li>
</ul>
</li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap97net/programmers-guide.html'>Development</a>
<ul style='display: none'>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap97net/poco-overview.html'>PONO Support</a>
<ul style='display: none'>
<li><a href='/xap97net/poco-entries.html'>Overview</a></li>
<li><a href='/xap97net/poco-dynamic-properties.html'>Dynamic Properties</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap97net/document-overview.html'>Space Document</a>
<ul style='display: none'>
<li><a href='/xap97net/document-api.html'>Document API</a></li>
<li><a href='/xap97net/document-extending.html'>Extending</a></li>
<li><a href='/xap97net/document-object-interoperability.html'>Interoperability</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap97net/modeling-your-data.html'>Modeling your Data</a>
<ul style='display: none'>
<li><a href='/xap97net/poco-object-id.html'>Space Object ID</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap97net/pono-annotation-overview.html'>Annotation based Metadata</a>
<ul style='display: none'>
<li><a href='/xap97net/pono-class-annotations.html'>Class Annotations</a></li>
<li><a href='/xap97net/pono-attribute-annotations.html'>Property Annotations</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap97net/pono-xml-metadata-overview.html'>XML based Metadata</a>
<ul style='display: none'>
<li><a href='/xap97net/pono-xml-metadata-class.html'>Class Metadata</a></li>
<li><a href='/xap97net/pono-xml-metadata-attribute.html'>Properties Metadata</a></li>
</ul>
</li>
<li><a href='/xap97net/poco-storage-type.html'>Property Storage Type</a></li>
<li><a href='/xap97net/poco-type-discovery.html'>Type Discovery</a></li>
<li><a href='/xap97net/routing-in-partitioned-spaces.html'>Routing In Partitioned Spaces</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap97net/the-gigaspace-interface-overview.html'>The Space Interface</a>
<ul style='display: none'>
<li><a href='/xap97net/the-gigaspace-interface.html'>Overview</a></li>
<li><a href='/xap97net/the-space-configuration.html'>Configuration</a></li>
<li><a href='/xap97net/the-space-operations.html'>Operations</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap97net/change-api.html'>Change API</a>
<ul style='display: none'>
<li><a href='/xap97net/change-api-advanced.html'>Advanced</a></li>
</ul>
</li>
<li><a href='/xap97net/the-space-counters.html'>Counters</a></li>
<li><a href='/xap97net/the-space-notifications.html'>Notifications</a></li>
<li><a href='/xap97net/leases-automatic-expiration.html'>Lease Time</a></li>
<li><a href='/xap97net/the-space-filters.html'>Filters</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap97net/querying-the-space.html'>Querying the Space</a>
<ul style='display: none'>
<li><a href='/xap97net/query-by-id.html'>ID Queries</a></li>
<li><a href='/xap97net/query-template-matching.html'>Template Matching</a></li>
<li><a href='/xap97net/query-prepared-template.html'>Prepared Template</a></li>
<li><a href='/xap97net/query-nested-properties.html'>Nested Properties</a></li>
<li><a href='/xap97net/query-sql.html'>SqlQuery</a></li>
<li><a href='/xap97net/query-paging-support.html'>Paging Support</a></li>
<li><a href='/xap97net/query-partial-results.html'>Partial Results</a></li>
<li><a href='/xap97net/query-linq.html'>LINQ</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap97net/indexing-overview.html'>Indexing</a>
<ul style='display: none'>
<li><a href='/xap97net/indexing.html'>Basic Index</a></li>
<li><a href='/xap97net/indexing-nested-properties.html'>Nested Property Index</a></li>
<li><a href='/xap97net/indexing-collections.html'>Collection Index</a></li>
<li><a href='/xap97net/indexing-compound.html'>Compound Index</a></li>
<li><a href='/xap97net/indexing-unique.html'>Unique Index</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap97net/transaction-overview.html'>Transactions</a>
<ul style='display: none'>
<li><a href='/xap97net/transaction-management.html'>Transaction Management</a></li>
<li><a href='/xap97net/transaction-locking-and-blocking.html'>Locking and Blocking</a></li>
<li><a href='/xap97net/transaction-read-modifiers.html'>Read Modifiers</a></li>
<li><a href='/xap97net/transaction-optimistic-locking.html'>Optimistic Locking</a></li>
<li><a href='/xap97net/transaction-pessimistic-locking.html'>Pessimistic Locking</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap97net/space-persistency-overview.html'>Space Persistency</a>
<ul style='display: none'>
<li><a href='/xap97net/space-persistency.html'>Space Persistency</a></li>
<li><a href='/xap97net/hibernate-space-persistency.html'>NHibernate External Data Source</a></li>
<li><a href='/xap97net/space-persistency-initial-load.html'>Initial Load</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap97net/client-side-caching.html'>Client Side Caching</a>
<ul style='display: none'>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap97net/local-cache.html'>Local Cache</a>
<ul style='display: none'>
<li><a href='/xap97net/cache-eviction-strategy.html'>Cache Eviction Strategy</a></li>
</ul>
</li>
<li><a href='/xap97net/local-view.html'>Local View</a></li>
</ul>
</li>
<li><a href='/xap97net/task-execution-over-the-space.html'>Task Execution</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap97net/event-processing.html'>Event Processing</a>
<ul style='display: none'>
<li><a href='/xap97net/event-listener-container.html'>Event Listener Container</a></li>
<li><a href='/xap97net/notify-container.html'>Notify Container</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap97net/polling-container.html'>Polling Container</a>
<ul style='display: none'>
<li><a href='/xap97net/auto-polling-consumer-scaling.html'>Auto Scaling</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap97net/fifo-overview.html'>FIFO Ordering</a>
<ul style='display: none'>
<li><a href='/xap97net/fifo-support.html'>FIFO Support</a></li>
<li><a href='/xap97net/fifo-grouping.html'>FIFO Grouping</a></li>
</ul>
</li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap97net/space-based-remoting.html'>Space Based Remoting</a>
<ul style='display: none'>
<li><a href='/xap97net/domain-service-host.html'>Domain Service Host</a></li>
<li><a href='/xap97net/executor-based-remoting.html'>Executor Based Remoting</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap97net/admin-modules.html'>Admin Modules</a>
<ul style='display: none'>
<li><a href='/xap97net/administration-and-monitoring-api.html'>Administration API</a></li>
<li><a href='/xap97net/scaling-agent-example.html'>Scaling Agent Example</a></li>
</ul>
</li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap97net/interoperability.html'>Platform Interoperability</a>
<ul style='display: none'>
<li><a href='/xap97net/dotnet-java-interoperability.html'>.NET-Java Interoperability</a></li>
<li><a href='/xap97net/interoperability-of-user-defined-objects.html'>User-Defined Objects</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap97net/administrators-guide.html'>Deployment and Administration</a>
<ul style='display: none'>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap97net/processing-units.html'>Processing Units</a>
<ul style='display: none'>
<li><a href='/xap97net/processing-unit-container.html'>PU Container</a></li>
<li><a href='/xap97net/basic-processing-unit-container.html'>Base PU Container</a></li>
<li><a href='/xap97net/detailed-basic-processing-unit-container.html'>Detailed PU Container</a></li>
<li><a href='/xap97net/interop-processing-unit.html'>Interoperability PU</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap97net/configuration.html'>Configuration</a>
<ul style='display: none'>
<li><a href='/xap97net/system-configuration.html'>System Configuration</a></li>
<li><a href='/xap97net/system-configuration-list.html'>Platform Configuration</a></li>
<li><a href='/xap97net/jvm-configuration.html'>JVM Configuration</a></li>
<li><a href='/xap97net/log-configuration.html'>Logging</a></li>
</ul>
</li>
</ul>
</li>
