<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap120/installation.html'>Installation</a>
<ul style='display: none'>
<li><a href='/xap120/installation-java.html'>Setup</a></li>
<li><a href='/xap120/license-key.html'>License Key</a></li>
<li><a href='/xap120/common-environment-variables.html'>Environment Variables</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap120/installation-maven-overview.html'>Maven</a>
<ul style='display: none'>
<li><a href='/xap120/maven-artifacts.html'>Maven Artifacts</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap120/installation-maven.html'>Maven Plugin</a>
<ul style='display: none'>
<li><a href='/xap120/installation-maven-advanced.html'>Advanced Configuration</a></li>
</ul>
</li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap120/installation-eclipse-overview.html'>Setting up your IDE</a>
<ul style='display: none'>
<li><a href='/xap120/installation-eclipse.html'>Setup</a></li>
<li><a href='/xap120/installation-java-classpath.html'>Classpath</a></li>
<li><a href='/xap120/installation-eclipse-debug.html'>Debugging</a></li>
<li><a href='/xap120/installation-eclipse-junit.html'>JUnit Testing</a></li>
</ul>
</li>
<li><a href='/xap120/installation-windows-service.html'>XAP as Windows Service</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap120/pojo-overview.html'>POJO Support</a>
<ul style='display: none'>
<li><a href='/xap120/pojo-support.html'>Overview</a></li>
<li><a href='/xap120/dynamic-properties.html'>Dynamic Properties</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap120/document-overview.html'>Space Document</a>
<ul style='display: none'>
<li><a href='/xap120/document-api.html'>Document API</a></li>
<li><a href='/xap120/document-extending.html'>Extended Document</a></li>
<li><a href='/xap120/document-pojo-interoperability.html'>Interoperability</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap120/modeling-your-data.html'>Modeling your Data</a>
<ul style='display: none'>
<li><a href='/xap120/space-object-id-operations.html'>Space Object ID</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap120/pojo-annotation-overview.html'>Annotation based Metadata</a>
<ul style='display: none'>
<li><a href='/xap120/pojo-class-annotations.html'>Class Annotations</a></li>
<li><a href='/xap120/pojo-attribute-annotations.html'>Property Annotations</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap120/pojo-xml-metadata-overview.html'>XML based Metadata</a>
<ul style='display: none'>
<li><a href='/xap120/pojo-xml-metadata-class.html'>Class Metadata</a></li>
<li><a href='/xap120/pojo-xml-metadata-attribute.html'>Properties Metadata</a></li>
</ul>
</li>
<li><a href='/xap120/pojo-grid-annotations.html'>Grid Metadata</a></li>
<li><a href='/xap120/storage-types-controlling-serialization.html'>Storage Types</a></li>
<li><a href='/xap120/custom-serialization.html'>Custom Serialization</a></li>
<li><a href='/xap120/routing-in-partitioned-spaces.html'>Routing In Partitioned Spaces</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap120/the-gigaspace-interface-overview.html'>The Space Interface</a>
<ul style='display: none'>
<li><a href='/xap120/the-gigaspace-interface.html'>Overview</a></li>
<li><a href='/xap120/the-space-configuration.html'>Configuration</a></li>
<li><a href='/xap120/the-space-operations.html'>Operations</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap120/change-api-overview.html'>Change API</a>
<ul style='display: none'>
<li><a href='/xap120/change-api.html'>Overview</a></li>
<li><a href='/xap120/change-api-custom-operation.html'>Custom Change</a></li>
<li><a href='/xap120/change-api-advanced.html'>Advanced</a></li>
</ul>
</li>
<li><a href='/xap120/the-space-counters.html'>Counters</a></li>
<li><a href='/xap120/aggregators.html'>Aggregators</a></li>
<li><a href='/xap120/the-space-transactions.html'>Transactions</a></li>
<li><a href='/xap120/the-space-notifications.html'>Notifications</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap120/the-space-filters.html'>Space Filters</a>
<ul style='display: none'>
<li><a href='/xap120/the-space-filters-metadata.html'>Interceptors</a></li>
</ul>
</li>
<li><a href='/xap120/space-mode-context-loader.html'>Space Mode Context Loader</a></li>
<li><a href='/xap120/leases-automatic-expiration.html'>Lease Time</a></li>
<li><a href='/xap120/the-space-meta-data.html'>Data Type Meta Data</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap120/querying-the-space.html'>Querying the Space</a>
<ul style='display: none'>
<li><a href='/xap120/query-by-id.html'>Id Queries</a></li>
<li><a href='/xap120/query-template-matching.html'>Template Matching</a></li>
<li><a href='/xap120/query-sql.html'>SQLQuery</a></li>
<li><a href='/xap120/query-sql-function.html'>SQL Functions</a></li>
<li><a href='/xap120/query-geospatial.html'>Geospatial Queries</a></li>
<li><a href='/xap120/query-free-text-search.html'>Free Text Search</a></li>
<li><a href='/xap120/query-nested-properties.html'>Nested Properties</a></li>
<li><a href='/xap120/query-user-defined-classes.html'>User Defined Classes</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap120/query-paging-support.html'>Paging Support</a>
<ul style='display: none'>
<li><a href='/xap120/query-paging-support-old.html'>Paging Support - GSIterator</a></li>
</ul>
</li>
<li><a href='/xap120/query-partial-results.html'>Projection</a></li>
<li><a href='/xap120/query-explainplan.html'>Explain Plan</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap120/indexing-overview.html'>Indexing</a>
<ul style='display: none'>
<li><a href='/xap120/indexing.html'>Basic Index</a></li>
<li><a href='/xap120/indexing-nested-properties.html'>Nested Property Index</a></li>
<li><a href='/xap120/indexing-collections.html'>Collection Index</a></li>
<li><a href='/xap120/indexing-compound.html'>Compound Index</a></li>
<li><a href='/xap120/indexing-geospatial.html'>Geospatial Index</a></li>
<li><a href='/xap120/indexing-unique.html'>Unique Index</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap120/transaction-overview.html'>Transactions</a>
<ul style='display: none'>
<li><a href='/xap120/transaction-management.html'>Transaction Management</a></li>
<li><a href='/xap120/transaction-locking-and-blocking.html'>Locking and Blocking</a></li>
<li><a href='/xap120/transaction-read-modifiers.html'>Read Modifiers</a></li>
<li><a href='/xap120/transaction-optimistic-locking.html'>Optimistic Locking</a></li>
<li><a href='/xap120/transaction-pessimistic-locking.html'>Pessimistic Locking</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap120/space-persistency-overview.html'>Space Persistency</a>
<ul style='display: none'>
<li><a href='/xap120/space-persistency.html'>Overview</a></li>
<li><a href='/xap120/direct-persistency.html'>Direct Persistency</a></li>
<li><a href='/xap120/hibernate-space-persistency.html'>Hibernate Integration</a></li>
<li><a href='/xap120/space-data-source-api.html'>Data Source</a></li>
<li><a href='/xap120/space-synchronization-endpoint-api.html'>Synchronization Endpoint</a></li>
<li><a href='/xap120/space-persistency-initial-load.html'>Initial Load</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap120/asynchronous-persistency-with-the-mirror.html'>Asynchronous Persistency - Write Behind</a>
<ul style='display: none'>
<li><a href='/xap120/async-persistency-mirror-advanced.html'>Advanced Configuration</a></li>
</ul>
</li>
<li><a href='/xap120/archive-container.html'>Archive Container</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap120/cassandra.html'>Cassandra Integration</a>
<ul style='display: none'>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap120/cassandra-space-persistency.html'>Cassandra Persistency</a>
<ul style='display: none'>
<li><a href='/xap120/cassandra-space-data-source.html'>Data Source</a></li>
<li><a href='/xap120/cassandra-space-synchronization-endpoint.html'>Synchronization Endpoint</a></li>
<li><a href='/xap120/cassandra-hector-client.html'>Hector Client</a></li>
</ul>
</li>
<li><a href='/xap120/cassandra-archive-operation-handler.html'>Archive Handler</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap120/mongodb.html'>MongoDB Integration</a>
<ul style='display: none'>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap120/mongodb-space-persistency.html'>Mongo Persistency</a>
<ul style='display: none'>
<li><a href='/xap120/mongodb-space-data-source.html'>Data Source</a></li>
<li><a href='/xap120/mongodb-space-synchronization-endpoint.html'>Synchronization Endpoint</a></li>
</ul>
</li>
<li><a href='/xap120/mongodb-archive-operation-handler.html'>Archive Handler</a></li>
</ul>
</li>
<li><a href='/xap120/transient-entries.html'>Transient Entries</a></li>
<li><a href='/xap120/space-persistency-advanced-topics.html'>Advanced Topics</a></li>
<li><a href='/xap120/persistency-migrating-hibernate.html'>Migrating from Hibernate</a></li>
<li><a href='/xap120/migrating-from-external-data-source-api.html'>Migrating From External Data Source API</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap120/other-data-access-apis.html'>Other Data Access APIs</a>
<ul style='display: none'>
<li><a href='/xap120/jdbc-driver.html'>JDBC Driver</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap120/jpa-api-overview.html'>JPA API</a>
<ul style='display: none'>
<li><a href='/xap120/jpa-api.html'>Overview</a></li>
<li><a href='/xap120/jpa-entity-id.html'>JPA Entity Id</a></li>
<li><a href='/xap120/jpa-relationships.html'>JPA Relationships</a></li>
<li><a href='/xap120/jpa-limitations.html'>Limitations</a></li>
</ul>
</li>
<li><a href='/xap120/map-api.html'>Map API</a></li>
<li><a href='/xap120/memcached-api.html'>Memcached API</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap120/client-side-caching.html'>Client Side Caching</a>
<ul style='display: none'>
<li><a href='/xap120/local-cache.html'>Local Cache</a></li>
<li><a href='/xap120/local-view.html'>Local View</a></li>
<li><a href='/xap120/client-side-caching-over-the-wan.html'>Caching over the WAN</a></li>
<li><a href='/xap120/monitoring-the-client-side-cache.html'>Monitoring Client Side Cache</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap120/task-execution-overview.html'>Task Execution</a>
<ul style='display: none'>
<li><a href='/xap120/task-execution-over-the-space.html'>Overview</a></li>
<li><a href='/xap120/task-dynamic-language.html'>Dynamic Language Tasks</a></li>
<li><a href='/xap120/task-metadata.html'>Metadata</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap120/event-processing.html'>Event Processing</a>
<ul style='display: none'>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap120/notify-container-overview.html'>Notify Container</a>
<ul style='display: none'>
<li><a href='/xap120/notify-container.html'>Overview</a></li>
<li><a href='/xap120/notify-container-transactions.html'>Transaction Support</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap120/session-based-messaging-api.html'>Session Based Messaging API</a>
<ul style='display: none'>
<li><a href='/xap120/durable-notifications.html'>Durable Notifications</a></li>
<li><a href='/xap120/custom-data-event-filters.html'>Custom Data Event Filters</a></li>
</ul>
</li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap120/polling-container-overview.html'>Polling Container</a>
<ul style='display: none'>
<li><a href='/xap120/polling-container.html'>Overview</a></li>
<li><a href='/xap120/polling-container-transactions.html'>Transaction Support</a></li>
<li><a href='/xap120/polling-container-scaling.html'>Concurrent Consumers</a></li>
</ul>
</li>
<li><a href='/xap120/data-event-listener.html'>Data Event Listener</a></li>
<li><a href='/xap120/event-exception-handler.html'>Event Exception Handler</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap120/fifo-overview.html'>FIFO Ordering</a>
<ul style='display: none'>
<li><a href='/xap120/fifo-support.html'>FIFO Support</a></li>
<li><a href='/xap120/fifo-grouping.html'>FIFO Grouping</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap120/messaging-support.html'>JMS Messaging Support</a>
<ul style='display: none'>
<li><a href='/xap120/jms-api-basic-usage.html'>JMS Basics</a></li>
<li><a href='/xap120/jms-messages-in-gigaspaces.html'>JMS Messages in XAP</a></li>
<li><a href='/xap120/jms-space-interoperability.html'>JMS-Space Interoperability</a></li>
<li><a href='/xap120/jms-with-openspaces-example.html'>Example</a></li>
<li><a href='/xap120/jms-with-gigaspaces-jndi.html'>XAP JNDI</a></li>
<li><a href='/xap120/jms-with-gsjmsadmin.html'>Working with GSJMSAdmin</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap120/jms-advanced.html'>Advanced Options</a>
<ul style='display: none'>
<li><a href='/xap120/jms-failover.html'>JMS Failover</a></li>
<li><a href='/xap120/jms-transactions-in-gigaspaces.html'>Transactions</a></li>
<li><a href='/xap120/jms-user-security.html'>Security</a></li>
<li><a href='/xap120/jms-queue-browser.html'>Browsing JMS Queues</a></li>
<li><a href='/xap120/jms-known-issues-and-considerations.html'>Known Issues and Considerations</a></li>
<li><a href='/xap120/jms-without-changing-the-classpath.html'>Using GigaSpaces JMS Without Changing the Classpath</a></li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap120/space-based-remoting-overview.html'>Space Based Remoting</a>
<ul style='display: none'>
<li><a href='/xap120/space-based-remoting.html'>Overview</a></li>
<li><a href='/xap120/executor-based-remoting.html'>Executor Based Remoting</a></li>
<li><a href='/xap120/event-driven-remoting.html'>Event Driven Remoting</a></li>
<li><a href='/xap120/remoting-metadata.html'>Metadata Summary</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap120/mule-esb.html'>Mule ESB Integration</a>
<ul style='display: none'>
<li><a href='/xap120/mule-event-container-transport.html'>Event Container Transport</a></li>
<li><a href='/xap120/mule-processing-unit.html'>Processing Unit</a></li>
<li><a href='/xap120/mule-queue-provider.html'>Queue Provider</a></li>
<li><a href='/xap120/mule-seda-model.html'>SEDA Model</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap120/administration-and-monitoring-overview.html'>Admin API</a>
<ul style='display: none'>
<li><a href='/xap120/administration-and-monitoring-api.html'>Overview</a></li>
<li><a href='/xap120/dump.html'>Dump</a></li>
<li><a href='/xap120/administrative-alerts.html'>Administrative Alerts</a></li>
<li><a href='/xap120/snmp-connectivity-via-alert-logging-gateway.html'>SNMP Alerts</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap120/the-processing-unit-overview.html'>The Processing Unit</a>
<ul style='display: none'>
<li><a href='/xap120/the-processing-unit-structure-and-configuration.html'>Directory Structure</a></li>
<li><a href='/xap120/configuring-processing-unit-elements.html'>Configuration</a></li>
<li><a href='/xap120/obtaining-cluster-information.html'>Cluster Information</a></li>
<li><a href='/xap120/reloading-business-logic.html'>Reloading Business Logic</a></li>
<li><a href='/xap120/custom-processing-unit-details-and-monitors.html'>Custom Processing Unit</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap120/deploying-and-running-overview.html'>Deploying and Running</a>
<ul style='display: none'>
<li><a href='/xap120/deploying-and-running-the-processing-unit.html'>Overview</a></li>
<li><a href='/xap120/running-in-standalone-mode.html'>Standalone Mode</a></li>
<li><a href='/xap120/deploying-onto-the-service-grid.html'>Deploying onto the Grid</a></li>
<li><a href='/xap120/deployment-properties.html'>Deployment Properties</a></li>
</ul>
</li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap120/elastic-processing-unit-overview.html'>Elastic Processing Unit</a>
<ul style='display: none'>
<li><a href='/xap120/elastic-processing-unit.html'>Overview</a></li>
<li><a href='/xap120/elastic-processing-unit-deploy.html'>Deployment</a></li>
<li><a href='/xap120/elastic-processing-unit-trigger.html'>Scale Triggers</a></li>
<li><a href='/xap120/elastic-processing-unit-provisioning.html'>Machine Provisioning</a></li>
<li><a href='/xap120/elastic-processing-unit-properties.html'>Configuration Properties</a></li>
<li><a href='/xap120/elastic-processing-unit-example.html'>Example</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap120/web-application-overview.html'>Web Application Support</a>
<ul style='display: none'>
<li><a href='/xap120/web-application-support.html'>Web Application Support - Overview</a></li>
<li><a href='/xap120/web-jetty-processing-unit-container.html'>Jetty Processing Unit Container</a></li>
<li><a href='/xap120/http-session-management.html'>HTTP Session Management</a></li>
<li><a href='/xap120/web-processing-unit-container.html'>Web Processing Unit Container</a></li>
<li><a href='/xap120/apache-load-balancer-agent.html'>Apache Load Balancer Agent</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap120/global-http-session-sharing-overview.html'>HTTP Session Sharing</a>
<ul style='display: none'>
<li><a href='/xap120/global-http-session-sharing.html'>Overview</a></li>
<li><a href='/xap120/global-http-session-sharing-configuration.html'>Configuration & Deployment</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap120/multi-space-replication-overview.html'>Multi Site LAN Replication</a>
<ul style='display: none'>
<li><a href='/xap120/multi-space-replication-over-the-lan-or-vpn.html'>Overview</a></li>
<li><a href='/xap120/replication-gateway-lan-bootstrapping-process.html'>Gateway Bootstrapping</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap120/multi-site-replication-overview.html'>Multi Site WAN Replication</a>
<ul style='display: none'>
<li><a href='/xap120/multi-site-replication-over-the-wan.html'>Overview</a></li>
<li><a href='/xap120/communication-filter-over-the-wan.html'>Communication Filter</a></li>
<li><a href='/xap120/replication-gateway-components.html'>Gateway Components</a></li>
<li><a href='/xap120/configuring-space-gateway-targets.html'>Configuring Targets</a></li>
<li><a href='/xap120/replication-gateway-bootstrapping-process.html'>Bootstrapping Process</a></li>
<li><a href='/xap120/multi-site-conflict-resolution.html'>Conflict Resolution</a></li>
<li><a href='/xap120/changing-multi-site-deployment-during-runtime.html'>Changing Deployment during Runtime</a></li>
<li><a href='/xap120/replication-gateway-filtering.html'>Filtering  Data</a></li>
<li><a href='/xap120/intercepting-replication-events-at-the-gateway.html'>Intercepting Replication Events</a></li>
<li><a href='/xap120/multi-site-replication-limitations.html'>Limitations</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap120/interoperability-overview.html'>Platform Interoperability</a>
<ul style='display: none'>
<li><a href='/xap120/interoperability.html'>Overview</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap120/xap-cpp.html'>CPP</a>
<ul style='display: none'>
<li><a href='/xap120/cpp-overview.html'>Overview</a></li>
<li><a href='/xap120/installing-cpp-api-package.html'>Installation</a></li>
<li><a href='/xap120/cpp-space-interface.html'>The CPP Space Interface</a></li>
<li><a href='/xap120/cpp-api-mapping-file.html'>API Mapping File</a></li>
<li><a href='/xap120/cpp-type-converter.html'>Type Converter</a></li>
<li><a href='/xap120/cpp-processing-unit.html'>CPP Processing Unit</a></li>
<li><a href='/xap120/cpp-api-code-generator.html'>API Code Generator</a></li>
<li><a href='/xap120/cpp-gsxml-utility.html'>gsxml2cpp Utility</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap120/cpp-api-examples.html'>CPP Examples</a>
<ul style='display: none'>
<li><a href='/xap120/cpp-api-hello-world-example.html'>Hello World</a></li>
<li><a href='/xap120/cpp-api-usage-example.html'>CPP API Usage</a></li>
<li><a href='/xap120/cpp-processing-unit-example.html'>Processing Unit</a></li>
<li><a href='/xap120/cpp-writing-existing-class-to-space.html'>Writing Existing Class to Space</a></li>
</ul>
</li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap120/rest-service-overview.html'>The REST Service</a>
<ul style='display: none'>
<li><a href='/xap120/rest-service.html'>Overview</a></li>
<li><a href='/xap120/rest-service-api.html'>REST API</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap120/scala.html'>Scala</a>
<ul style='display: none'>
<li><a href='/xap120/scala-constructor-based-properties.html'>Constructor Based Properties</a></li>
<li><a href='/xap120/scala-task-execution.html'>Scala Task Execution</a></li>
<li><a href='/xap120/scala-predicate-based-queries.html'>Predicate Based Queries</a></li>
<li><a href='/xap120/scala-scripting-executor.html'>Scripting Executor</a></li>
<li><a href='/xap120/scala-enhanced-repl.html'>Enhanced Scala REPL</a></li>
<li><a href='/xap120/scala-exemplary-project.html'>Example Project</a></li>
</ul>
</li>
</ul>
</li>
