<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap102net/installation-overview.html'>Installation</a>
<ul style='display: none'>
<li><a href='/xap102net/installation.html'>Overview</a></li>
<li><a href='/xap102net/license-key.html'>License Key</a></li>
<li><a href='/xap102net/product-structure.html'>Product structure</a></li>
<li><a href='/xap102net/advanced-installation-scenarios.html'>Advanced Scenarios</a></li>
<li><a href='/xap102net/gigaspaces-services-manager.html'>Services Manager</a></li>
<li><a href='/xap102net/debugging-a-xapnet-application.html'>Application Debugging</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap102net/poco-overview.html'>PONO Support</a>
<ul style='display: none'>
<li><a href='/xap102net/poco-entries.html'>Overview</a></li>
<li><a href='/xap102net/poco-dynamic-properties.html'>Dynamic Properties</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap102net/document-overview.html'>Space Document</a>
<ul style='display: none'>
<li><a href='/xap102net/document-api.html'>Document API</a></li>
<li><a href='/xap102net/document-extending.html'>Extending</a></li>
<li><a href='/xap102net/document-object-interoperability.html'>Interoperability</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap102net/modeling-your-data.html'>Modeling your Data</a>
<ul style='display: none'>
<li><a href='/xap102net/poco-object-id.html'>Space Object ID</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap102net/pono-annotation-overview.html'>Annotation based Metadata</a>
<ul style='display: none'>
<li><a href='/xap102net/pono-class-annotations.html'>Class Annotations</a></li>
<li><a href='/xap102net/pono-attribute-annotations.html'>Property Annotations</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap102net/pono-xml-metadata-overview.html'>XML based Metadata</a>
<ul style='display: none'>
<li><a href='/xap102net/pono-xml-metadata-class.html'>Class Metadata</a></li>
<li><a href='/xap102net/pono-xml-metadata-attribute.html'>Properties Metadata</a></li>
</ul>
</li>
<li><a href='/xap102net/poco-storage-type.html'>Property Storage Type</a></li>
<li><a href='/xap102net/poco-type-discovery.html'>Type Discovery</a></li>
<li><a href='/xap102net/routing-in-partitioned-spaces.html'>Routing In Partitioned Spaces</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap102net/the-gigaspace-interface-overview.html'>The Space Interface</a>
<ul style='display: none'>
<li><a href='/xap102net/the-gigaspace-interface.html'>Overview</a></li>
<li><a href='/xap102net/the-space-configuration.html'>Configuration</a></li>
<li><a href='/xap102net/the-space-operations.html'>Operations</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap102net/change-api-overview.html'>Change API</a>
<ul style='display: none'>
<li><a href='/xap102net/change-api.html'>Overview</a></li>
<li><a href='/xap102net/change-api-advanced.html'>Advanced</a></li>
</ul>
</li>
<li><a href='/xap102net/the-space-counters.html'>Counters</a></li>
<li><a href='/xap102net/aggregators.html'>Aggregators</a></li>
<li><a href='/xap102net/the-space-notifications.html'>Notifications</a></li>
<li><a href='/xap102net/leases-automatic-expiration.html'>Lease Time</a></li>
<li><a href='/xap102net/the-space-filters.html'>Filters</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap102net/querying-the-space.html'>Querying the Space</a>
<ul style='display: none'>
<li><a href='/xap102net/query-by-id.html'>ID Queries</a></li>
<li><a href='/xap102net/query-template-matching.html'>Template Matching</a></li>
<li><a href='/xap102net/query-prepared-template.html'>Prepared Template</a></li>
<li><a href='/xap102net/query-nested-properties.html'>Nested Properties</a></li>
<li><a href='/xap102net/query-sql.html'>SqlQuery</a></li>
<li><a href='/xap102net/query-free-text-search.html'>Free Text Search</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap102net/query-paging-support.html'>Paging Support</a>
<ul style='display: none'>
<li><a href='/xap102net/query-paging-support-old.html'>Paging Support - Old</a></li>
</ul>
</li>
<li><a href='/xap102net/query-partial-results.html'>Projection</a></li>
<li><a href='/xap102net/query-linq.html'>LINQ</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap102net/indexing-overview.html'>Indexing</a>
<ul style='display: none'>
<li><a href='/xap102net/indexing.html'>Basic Index</a></li>
<li><a href='/xap102net/indexing-nested-properties.html'>Nested Property Index</a></li>
<li><a href='/xap102net/indexing-collections.html'>Collection Index</a></li>
<li><a href='/xap102net/indexing-compound.html'>Compound Index</a></li>
<li><a href='/xap102net/indexing-unique.html'>Unique Index</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap102net/transaction-overview.html'>Transactions</a>
<ul style='display: none'>
<li><a href='/xap102net/transaction-management.html'>Transaction Management</a></li>
<li><a href='/xap102net/transaction-locking-and-blocking.html'>Locking and Blocking</a></li>
<li><a href='/xap102net/transaction-read-modifiers.html'>Read Modifiers</a></li>
<li><a href='/xap102net/transaction-optimistic-locking.html'>Optimistic Locking</a></li>
<li><a href='/xap102net/transaction-pessimistic-locking.html'>Pessimistic Locking</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap102net/space-persistency-overview.html'>Space Persistency</a>
<ul style='display: none'>
<li><a href='/xap102net/space-persistency.html'>Overview</a></li>
<li><a href='/xap102net/direct-persistency.html'>Direct Persistency</a></li>
<li><a href='/xap102net/hibernate-space-persistency.html'>NHibernate Integration</a></li>
<li><a href='/xap102net/space-persistency-initial-load.html'>Initial Load</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap102net/asynchronous-persistency-with-the-mirror.html'>Asynchronous Persistency - Write Behind</a>
<ul style='display: none'>
<li><a href='/xap102net/async-persistency-mirror-advanced.html'>Advanced Configuration</a></li>
</ul>
</li>
<li><a href='/xap102net/transient-entries.html'>Transient Entries</a></li>
<li><a href='/xap102net/space-persistency-advanced-topics.html'>Advanced Topics</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap102net/client-side-caching.html'>Client Side Caching</a>
<ul style='display: none'>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap102net/local-cache.html'>Local Cache</a>
<ul style='display: none'>
<li><a href='/xap102net/cache-eviction-strategy.html'>Cache Eviction Strategy</a></li>
</ul>
</li>
<li><a href='/xap102net/local-view.html'>Local View</a></li>
</ul>
</li>
<li><a href='/xap102net/task-execution-over-the-space.html'>Task Execution</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap102net/event-processing.html'>Event Processing</a>
<ul style='display: none'>
<li><a href='/xap102net/event-listener-container.html'>Event Listener Container</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap102net/notify-container-overview.html'>Notify Container</a>
<ul style='display: none'>
<li><a href='/xap102net/notify-container.html'>Overview</a></li>
<li><a href='/xap102net/notify-container-transactions.html'>Transaction support</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap102net/polling-container-overview.html'>Polling Container</a>
<ul style='display: none'>
<li><a href='/xap102net/polling-container.html'>Overview</a></li>
<li><a href='/xap102net/polling-container-scaling.html'>Concurrent Consumers</a></li>
<li><a href='/xap102net/polling-container-transactions.html'>Transaction support</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap102net/fifo-overview.html'>FIFO Ordering</a>
<ul style='display: none'>
<li><a href='/xap102net/fifo-support.html'>FIFO Support</a></li>
<li><a href='/xap102net/fifo-grouping.html'>FIFO Grouping</a></li>
</ul>
</li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap102net/space-based-remoting-overview.html'>Space Based Remoting</a>
<ul style='display: none'>
<li><a href='/xap102net/domain-service-host.html'>Domain Service Host</a></li>
<li><a href='/xap102net/executor-based-remoting.html'>Executor Based Remoting</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap102net/admin-modules.html'>Admin Modules</a>
<ul style='display: none'>
<li><a href='/xap102net/administration-and-monitoring-api.html'>Administration API</a></li>
<li><a href='/xap102net/scaling-agent-example.html'>Scaling Agent Example</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap102net/the-processing-unit-overview.html'>The Processing Unit</a>
<ul style='display: none'>
<li><a href='/xap102net/pu-config.html'>Configuration</a></li>
<li><a href='/xap102net/pu-components.html'>Components</a></li>
<li><a href='/xap102net/obtaining-cluster-information.html'>Cluster Information</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap102net/administrators-guide.html'>Deployment and Administration</a>
<ul style='display: none'>
<li><a href='/xap102net/system-configuration.html'>System Configuration</a></li>
<li><a href='/xap102net/system-configuration-list.html'>Platform Configuration</a></li>
<li><a href='/xap102net/jvm-configuration.html'>JVM Configuration</a></li>
<li><a href='/xap102net/log-configuration.html'>Logging</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap102net/interoperability.html'>Platform Interoperability</a>
<ul style='display: none'>
<li><a href='/xap102net/dotnet-java-interoperability.html'>.NET-Java Interoperability</a></li>
<li><a href='/xap102net/interoperability-of-user-defined-objects.html'>User-Defined Objects</a></li>
</ul>
</li>
