<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap97adm/gigaspaces-management-center.html'>Management Center</a>
<ul style='display: none'>
<li><a href='/xap97adm/gigaspaces-browser.html'>Main View</a></li>
<li><a href='/xap97adm/gigaspaces-browser-menus-and-buttons.html'>Menus and Buttons</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap97adm/gigaspaces-browser-tree-panel-and-configuration-panel.html'>Grid Tree & Configuration</a>
<ul style='display: none'>
<li><a href='/xap97adm/gigaspaces-browser-connection-view.html'>Connections View</a></li>
<li><a href='/xap97adm/gigaspaces-browser-data-types-view.html'>Data Types View</a></li>
<li><a href='/xap97adm/gigaspaces-browser-object-inspector.html'>Object Inspector</a></li>
<li><a href='/xap97adm/gigaspaces-browser-query-view.html'>Query View</a></li>
<li><a href='/xap97adm/gigaspaces-browser-statistics-view.html'>Statistics View</a></li>
<li><a href='/xap97adm/gigaspaces-browser-transaction-view.html'>Transactions View</a></li>
</ul>
</li>
<li><a href='/xap97adm/gigaspaces-browser-managing-space-container.html'>Space Containers</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap97adm/working-with-clusters-gigaspaces-browser.html'>Working with Clusters</a>
<ul style='display: none'>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap97adm/cluster-view-gigaspaces-browser.html'>Cluster View</a>
<ul style='display: none'>
<li><a href='/xap97adm/customizing-cluster-view-gigaspaces-browser.html'>Customizing</a></li>
<li><a href='/xap97adm/viewing-cluster-policy-settings-for-space-gigaspaces-browser.html'>Policy Settings</a></li>
<li><a href='/xap97adm/viewing-space-interrelations-in-cluster-gigaspaces-browser.html'>Space Inter-relations</a></li>
<li><a href='/xap97adm/visualizing-cluster-groups-and-members-gigaspaces-browser.html'>Groups and Members</a></li>
</ul>
</li>
<li><a href='/xap97adm/creating-custom-cluster-gigaspaces-browser.html'>Creating Custom Cluster</a></li>
<li><a href='/xap97adm/failover-group-gigaspaces-browser.html'>Failover Group</a></li>
<li><a href='/xap97adm/load-balancing-group-gigaspaces-browser.html'>Load-Balancing Group</a></li>
<li><a href='/xap97adm/replication-group-gigaspaces-browser.html'>Replication Group</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap97adm/working-with-spaces-gigaspaces-browser.html'>Working with Spaces</a>
<ul style='display: none'>
<li><a href='/xap97adm/space-jms-gigaspaces-browser.html'>Space JMS</a></li>
<li><a href='/xap97adm/space-maintenance-gigaspaces-browser.html'>Maintenance</a></li>
<li><a href='/xap97adm/space-memory-management-gigaspaces-browser.html'>Memory Management</a></li>
<li><a href='/xap97adm/space-serialization-and-engine-thread-pool-gigaspaces-browser.html'>Serialization and Thread Pool</a></li>
<li><a href='/xap97adm/space-timeout,-filters-and-lease-manager-gigaspaces-browser.html'>Timeout, Filters and Lease Manager</a></li>
</ul>
</li>
<li><a href='/xap97adm/pending-notify-templates-information.html'>Pending Notify Templates</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap97adm/web-management-console.html'>Web Management Console</a>
<ul style='display: none'>
<li><a href='/xap97adm/web-management-console-console.html'>Overview</a></li>
<li><a href='/xap97adm/web-management-console-configuration.html'>Configuration</a></li>
<li><a href='/xap97adm/web-management-console-starting.html'>Starting the Console</a></li>
<li><a href='/xap97adm/web-management-dashboard-view.html'>Dashboard View</a></li>
<li><a href='/xap97adm/web-management-application-view.html'>Application View</a></li>
<li><a href='/xap97adm/web-management-hosts-view.html'>Hosts View</a></li>
<li><a href='/xap97adm/web-management-data-grid-view.html'>Data Grid View</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap97adm/logging-overview.html'>Logging</a>
<ul style='display: none'>
<li><a href='/xap97adm/logging.html'>Overview</a></li>
<li><a href='/xap97adm/logging-formatting-messages.html'>Formatting Log Messages</a></li>
<li><a href='/xap97adm/logging-managing-files.html'>Managing Log Files</a></li>
<li><a href='/xap97adm/logging-backing-custom-policy.html'>Backing-up Files With a Custom Policy</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap97adm/administration-tools.html'>Administration Tools</a>
<ul style='display: none'>
<li><a href='/xap97adm/scripts.html'>Scripts</a></li>
<li><a href='/xap97adm/command-line-interface.html'>Command Line Interface</a></li>
<li><a href='/xap97adm/deploy-command-line-interface.html'>Deploy with Command Line</a></li>
<li><a href='/xap97adm/elastic-deploy-command-line-interface.html'>Elastic Deployment with Command Line</a></li>
<li><a href='/xap97adm/space-gigaspaces-cli.html'>Space Command Line Interface</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap97adm/runtime-configuration.html'>Runtime Configuration</a>
<ul style='display: none'>
<li><a href='/xap97adm/the-runtime-environment.html'>The Runtime Environment</a></li>
<li><a href='/xap97adm/lus-configuration.html'>Global vs. Local LUS</a></li>
<li><a href='/xap97adm/gsm-configuration.html'>Global vs. Local GSM</a></li>
<li><a href='/xap97adm/system-properties-java.html'>Java System Properties</a></li>
<li><a href='/xap97adm/system-properties-net.html'>.NET System Properties</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap97adm/network.html'>Network Configuration</a>
<ul style='display: none'>
<li><a href='/xap97adm/network-unicast-discovery.html'>Unicast Discovery</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap97adm/network-multicast.html'>Multicast Configuration</a>
<ul style='display: none'>
<li><a href='/xap97adm/network-multicast-is-available.html'>Is Multicast Available</a></li>
</ul>
</li>
<li><a href='/xap97adm/network-lookup-service-configuration.html'>Lookup Service Configuration</a></li>
<li><a href='/xap97adm/network-over-nat.html'>XAP Over NAT</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap97adm/network-multi-nic.html'>Multiple Network-Cards</a>
<ul style='display: none'>
<li><a href='/xap97adm/network-multi-nic-advanced.html'>Advanced Configuration</a></li>
</ul>
</li>
<li><a href='/xap97adm/network-over-firewall.html'>XAP Over a Firewall</a></li>
<li><a href='/xap97adm/network-ports.html'>Port usage Control</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap97adm/monitoring.html'>Monitoring</a>
<ul style='display: none'>
<li><a href='/xap97adm/monitoring-network-activity.html'>Network Monitoring</a></li>
<li><a href='/xap97adm/space-jmx-management.html'>JMX Management</a></li>
<li><a href='/xap97adm/suggested-monitoring-tools.html'>Monitoring Tools</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap97adm/tuning.html'>Performance Tuning</a>
<ul style='display: none'>
<li><a href='/xap97adm/tuning-infrastructure.html'>Infrastructure</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap97adm/tuning-gigaspaces-performance.html'>XAP Performance</a>
<ul style='display: none'>
<li><a href='/xap97adm/tuning-large-scale-deployment.html'>Large Scale Deployment</a></li>
<li><a href='/xap97adm/tuning-proxy-connectivity.html'>Proxy Connectivity</a></li>
<li><a href='/xap97adm/tuning-handling-large-objects.html'>Handling Large Objects</a></li>
<li><a href='/xap97adm/tuning-communication-protocol.html'>Communication Protocol</a></li>
</ul>
</li>
<li><a href='/xap97adm/tuning-java-virtual-machines.html'>Java Virtual Machines</a></li>
<li><a href='/xap97adm/tuning-threads-usage.html'>Threads Usage</a></li>
<li><a href='/xap97adm/slow-consumer.html'>Slow Consumer</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap97adm/benchmarking.html'>Benchmarking</a>
<ul style='display: none'>
<li><a href='/xap97adm/benchmarking-intro.html'>Overview</a></li>
<li><a href='/xap97adm/benchmark-utility-cli.html'>Utility</a></li>
<li><a href='/xap97adm/benchmark-browser.html'>Benchmark UI</a></li>
<li><a href='/xap97adm/benchmark-c++.html'>C++ Benchmark</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap97adm/troubleshooting.html'>Troubleshooting</a>
<ul style='display: none'>
<li><a href='/xap97adm/troubleshooting-common-user-issues.html'>Common User Issues</a></li>
<li><a href='/xap97adm/troubleshooting-protective-modes.html'>Protective Modes</a></li>
<li><a href='/xap97adm/troubleshooting-testing-system-environment.html'>Testing System Environment</a></li>
<li><a href='/xap97adm/troubleshooting-viewing-clustered-space-status.html'>Viewing Clustered Space Status</a></li>
<li><a href='/xap97adm/troubleshooting-failure-detection.html'>Failure Detection</a></li>
<li><a href='/xap97adm/troubleshooting-tools.html'>Tools</a></li>
</ul>
</li>
<li><a href='/xap97adm/moving-into-production-checklist.html'>Moving into Production Checklist</a></li>
