<li><a href='/xap120sec/security.html'>Overview</a></li>
<li><a href='/xap120sec/security-concepts.html'>Concepts</a></li>
<li><a href='/xap120sec/security-authorities.html'>Authorities and Privileges</a></li>
<li><a href='/xap120sec/security-directory-manager.html'>Directory Management</a></li>
<li><a href='/xap120sec/security-configurations.html'>Configuration</a></li>
<li><a href='/xap120sec/security-ref-impl.html'>Reference Implementation</a></li>
<li><a href='/xap120sec/default-file-based-security-implementation-ext.html'>Default File-Based Security</a></li>
<li><a href='/xap120sec/security-authorities-ext.html'>Administration Authorities</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap120sec/securing-xap-components.html'>Securing Components</a>
<ul style='display: none'>
<li><a href='/xap120sec/security-configurations-ext.html'>Component Configuration</a></li>
<li><a href='/xap120sec/securing-your-data.html'>Data</a></li>
<li><a href='/xap120sec/securing-the-grid-services.html'>Grid Services</a></li>
<li><a href='/xap120sec/securing-the-transport-layer-using-ssl.html'>Securing the Transport Layer</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap120sec/custom-security.html'>Custom Security</a>
<ul style='display: none'>
<li><a href='/xap120sec/custom-security-overview.html'>Overview</a></li>
<li><a href='/xap120sec/custom-authentication.html'>Authentication</a></li>
<li><a href='/xap120sec/custom-user-role-management.html'>User-Role Management</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap120sec/spring-security-bridge.html'>Spring Security Bridge</a>
<ul style='display: none'>
<li><a href='/xap120sec/introducing-spring-security.html'>Spring Security</a></li>
<li><a href='/xap120sec/gigaspaces-spring-based-security-bridge.html'>Spring-based bridge</a></li>
<li><a href='/xap120sec/authenticating-against-a-database.html'>Database Authentication</a></li>
<li><a href='/xap120sec/authenticating-against-an-ldap-repository.html'>LDAP Authentication</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap120sec/security-administration.html'>Administration</a>
<ul style='display: none'>
<li><a href='/xap120sec/command-line-interface-cli-security.html'>Command Line Interface</a></li>
<li><a href='/xap120sec/administration-and-monitoring-api-security.html'>Security Admin API</a></li>
<li><a href='/xap120sec/auditing.html'>Auditing</a></li>
<li><a href='/xap120sec/java-security-policy-file.html'>Java Security Policy File</a></li>
</ul>
</li>
<li><a href='/xap120sec/securing-the-helloworld-example.html'>HelloWorld example</a></li>
