<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121/'>Java Developers Guide</a>
<ul style='display: none'>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121tut/'>Tutorials</a>
<ul style='display: none'>
<li><a href='/xap121tut/installation.html'>Installation</a></li>
<li><a href='/xap121tut/xap-java-in-5-minutes.html'>XAP in 5 Minutes</a></li>
<li><a href='/xap121tut/java-tutorial-part1.html'>Interacting with the Space</a></li>
<li><a href='/xap121tut/java-tutorial-part2.html'>Deploying a Space</a></li>
<li><a href='/xap121tut/java-tutorial-part3.html'>Distributed Processing</a></li>
<li><a href='/xap121tut/java-tutorial-part4.html'>Event-Driven Programming</a></li>
<li><a href='/xap121tut/java-tutorial-part5.html'>Creating a Processing Unit</a></li>
<li><a href='/xap121tut/java-tutorial-part6.html'>Transactions and Concurrency</a></li>
<li><a href='/xap121tut/java-tutorial-part7.html'>Persist to Database</a></li>
<li><a href='/xap121tut/java-tutorial-part8.html'>Deploy a Web App</a></li>
<li><a href='/xap121tut/java-tutorial-part10.html'>Security</a></li>
<li><a href='/xap121tut/http-session-sharing.html'>HTTP Session Sharing</a></li>
<li><a href='/xap121tut/blobstore.html'>Multi-Tiered Data Storage (SSD)</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121/installation.html'>Installation</a>
<ul style='display: none'>
<li><a href='/xap121/installation-java.html'>Setup</a></li>
<li><a href='/xap121/license-key.html'>License Key</a></li>
<li><a href='/xap121/common-environment-variables.html'>Environment Variables</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121/installation-maven-overview.html'>Maven</a>
<ul style='display: none'>
<li><a href='/xap121/maven-artifacts.html'>Maven Artifacts</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121/installation-maven.html'>Maven Plugin</a>
<ul style='display: none'>
<li><a href='/xap121/installation-maven-advanced.html'>Advanced Configuration</a></li>
</ul>
</li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121/installation-eclipse-overview.html'>Setting up your IDE</a>
<ul style='display: none'>
<li><a href='/xap121/installation-eclipse.html'>Setup</a></li>
<li><a href='/xap121/installation-java-classpath.html'>Classpath</a></li>
<li><a href='/xap121/installation-eclipse-debug.html'>Debugging</a></li>
<li><a href='/xap121/installation-eclipse-junit.html'>JUnit Testing</a></li>
</ul>
</li>
<li><a href='/xap121/installation-windows-service.html'>XAP as Windows Service</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121/pojo-overview.html'>POJO Support</a>
<ul style='display: none'>
<li><a href='/xap121/pojo-support.html'>Overview</a></li>
<li><a href='/xap121/dynamic-properties.html'>Dynamic Properties</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121/document-overview.html'>Space Document</a>
<ul style='display: none'>
<li><a href='/xap121/document-api.html'>Document API</a></li>
<li><a href='/xap121/document-extending.html'>Extended Document</a></li>
<li><a href='/xap121/document-pojo-interoperability.html'>Interoperability</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121/modeling-your-data.html'>Modeling your Data</a>
<ul style='display: none'>
<li><a href='/xap121/space-object-id-operations.html'>Space Object ID</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121/pojo-annotation-overview.html'>Annotation based Metadata</a>
<ul style='display: none'>
<li><a href='/xap121/pojo-class-annotations.html'>Class Annotations</a></li>
<li><a href='/xap121/pojo-attribute-annotations.html'>Property Annotations</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121/pojo-xml-metadata-overview.html'>XML based Metadata</a>
<ul style='display: none'>
<li><a href='/xap121/pojo-xml-metadata-class.html'>Class Metadata</a></li>
<li><a href='/xap121/pojo-xml-metadata-attribute.html'>Properties Metadata</a></li>
</ul>
</li>
<li><a href='/xap121/pojo-grid-annotations.html'>Grid Metadata</a></li>
<li><a href='/xap121/storage-types-controlling-serialization.html'>Storage Types</a></li>
<li><a href='/xap121/custom-serialization.html'>Custom Serialization</a></li>
<li><a href='/xap121/routing-in-partitioned-spaces.html'>Routing In Partitioned Spaces</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121/the-gigaspace-interface-overview.html'>The Space Interface</a>
<ul style='display: none'>
<li><a href='/xap121/the-gigaspace-interface.html'>Overview</a></li>
<li><a href='/xap121/the-space-bean.html'>The Space Bean</a></li>
<li><a href='/xap121/the-space-configuration.html'>The Space URL</a></li>
<li><a href='/xap121/the-space-operations.html'>Operations</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121/change-api-overview.html'>Change API</a>
<ul style='display: none'>
<li><a href='/xap121/change-api.html'>Overview</a></li>
<li><a href='/xap121/change-api-custom-operation.html'>Custom Change</a></li>
<li><a href='/xap121/change-api-advanced.html'>Advanced</a></li>
</ul>
</li>
<li><a href='/xap121/the-space-counters.html'>Counters</a></li>
<li><a href='/xap121/aggregators.html'>Aggregators</a></li>
<li><a href='/xap121/the-space-transactions.html'>Transactions</a></li>
<li><a href='/xap121/the-space-no-restart.html'>Change code without restarts</a></li>
<li><a href='/xap121/the-space-notifications.html'>Notifications</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121/the-space-filters.html'>Space Filters</a>
<ul style='display: none'>
<li><a href='/xap121/the-space-filters-metadata.html'>Interceptors</a></li>
</ul>
</li>
<li><a href='/xap121/space-mode-context-loader.html'>Space Mode Context Loader</a></li>
<li><a href='/xap121/leases-automatic-expiration.html'>Lease Time</a></li>
<li><a href='/xap121/the-space-meta-data.html'>Data Type Meta Data</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121/querying-the-space.html'>Querying the Space</a>
<ul style='display: none'>
<li><a href='/xap121/query-by-id.html'>Id Queries</a></li>
<li><a href='/xap121/query-template-matching.html'>Template Matching</a></li>
<li><a href='/xap121/query-sql.html'>SQLQuery</a></li>
<li><a href='/xap121/query-sql-function.html'>SQL Functions</a></li>
<li><a href='/xap121/query-geospatial.html'>Geospatial Queries</a></li>
<li><a href='/xap121/query-free-text-search.html'>Free Text Search</a></li>
<li><a href='/xap121/query-full-text-search.html'>Full Text Search</a></li>
<li><a href='/xap121/query-nested-properties.html'>Nested Properties</a></li>
<li><a href='/xap121/query-user-defined-classes.html'>User Defined Classes</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121/query-paging-support.html'>Paging Support</a>
<ul style='display: none'>
<li><a href='/xap121/query-paging-support-old.html'>Paging Support - GSIterator</a></li>
</ul>
</li>
<li><a href='/xap121/query-partial-results.html'>Projection</a></li>
<li><a href='/xap121/query-explainplan.html'>Explain Plan</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121/indexing-overview.html'>Indexing</a>
<ul style='display: none'>
<li><a href='/xap121/indexing.html'>Basic Index</a></li>
<li><a href='/xap121/indexing-nested-properties.html'>Nested Property Index</a></li>
<li><a href='/xap121/indexing-collections.html'>Collection Index</a></li>
<li><a href='/xap121/indexing-compound.html'>Compound Index</a></li>
<li><a href='/xap121/indexing-geospatial.html'>Geospatial Index</a></li>
<li><a href='/xap121/indexing-text-search.html'>Text Search Index</a></li>
<li><a href='/xap121/indexing-unique.html'>Unique Index</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121/transaction-overview.html'>Transactions</a>
<ul style='display: none'>
<li><a href='/xap121/transaction-management.html'>Transaction Management</a></li>
<li><a href='/xap121/transaction-locking-and-blocking.html'>Locking and Blocking</a></li>
<li><a href='/xap121/transaction-read-modifiers.html'>Read Modifiers</a></li>
<li><a href='/xap121/transaction-optimistic-locking.html'>Optimistic Locking</a></li>
<li><a href='/xap121/transaction-pessimistic-locking.html'>Pessimistic Locking</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121/space-persistency-overview.html'>Space Persistency</a>
<ul style='display: none'>
<li><a href='/xap121/space-persistency.html'>Overview</a></li>
<li><a href='/xap121/direct-persistency.html'>Direct Persistency</a></li>
<li><a href='/xap121/hibernate-space-persistency.html'>Hibernate Integration</a></li>
<li><a href='/xap121/space-data-source-api.html'>Data Source</a></li>
<li><a href='/xap121/space-synchronization-endpoint-api.html'>Synchronization Endpoint</a></li>
<li><a href='/xap121/space-persistency-initial-load.html'>Initial Load</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121/asynchronous-persistency-with-the-mirror.html'>Asynchronous Persistency - Write Behind</a>
<ul style='display: none'>
<li><a href='/xap121/async-persistency-mirror-advanced.html'>Advanced Configuration</a></li>
</ul>
</li>
<li><a href='/xap121/archive-container.html'>Archive Container</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121/cassandra.html'>Cassandra Integration</a>
<ul style='display: none'>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121/cassandra-space-persistency.html'>Cassandra Persistency</a>
<ul style='display: none'>
<li><a href='/xap121/cassandra-space-data-source.html'>Data Source</a></li>
<li><a href='/xap121/cassandra-space-synchronization-endpoint.html'>Synchronization Endpoint</a></li>
<li><a href='/xap121/cassandra-hector-client.html'>Hector Client</a></li>
</ul>
</li>
<li><a href='/xap121/cassandra-archive-operation-handler.html'>Archive Handler</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121/mongodb.html'>MongoDB Integration</a>
<ul style='display: none'>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121/mongodb-space-persistency.html'>Mongo Persistency</a>
<ul style='display: none'>
<li><a href='/xap121/mongodb-space-data-source.html'>Data Source</a></li>
<li><a href='/xap121/mongodb-space-synchronization-endpoint.html'>Synchronization Endpoint</a></li>
</ul>
</li>
<li><a href='/xap121/mongodb-archive-operation-handler.html'>Archive Handler</a></li>
</ul>
</li>
<li><a href='/xap121/transient-entries.html'>Transient Entries</a></li>
<li><a href='/xap121/space-persistency-advanced-topics.html'>Advanced Topics</a></li>
<li><a href='/xap121/persistency-migrating-hibernate.html'>Migrating from Hibernate</a></li>
<li><a href='/xap121/migrating-from-external-data-source-api.html'>Migrating From External Data Source API</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121/other-data-access-apis.html'>Other Data Access APIs</a>
<ul style='display: none'>
<li><a href='/xap121/jdbc-driver.html'>JDBC Driver</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121/jpa-api-overview.html'>JPA API</a>
<ul style='display: none'>
<li><a href='/xap121/jpa-api.html'>Overview</a></li>
<li><a href='/xap121/jpa-entity-id.html'>JPA Entity Id</a></li>
<li><a href='/xap121/jpa-relationships.html'>JPA Relationships</a></li>
<li><a href='/xap121/jpa-limitations.html'>Limitations</a></li>
</ul>
</li>
<li><a href='/xap121/map-api.html'>Map API</a></li>
<li><a href='/xap121/memcached-api.html'>Memcached API</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121/client-side-caching.html'>Client Side Caching</a>
<ul style='display: none'>
<li><a href='/xap121/local-cache.html'>Local Cache</a></li>
<li><a href='/xap121/local-view.html'>Local View</a></li>
<li><a href='/xap121/client-side-caching-over-the-wan.html'>Caching over the WAN</a></li>
<li><a href='/xap121/monitoring-the-client-side-cache.html'>Monitoring Client Side Cache</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121/task-execution-overview.html'>Task Execution</a>
<ul style='display: none'>
<li><a href='/xap121/task-execution-over-the-space.html'>Overview</a></li>
<li><a href='/xap121/task-dynamic-language.html'>Dynamic Language Tasks</a></li>
<li><a href='/xap121/task-metadata.html'>Metadata</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121/event-processing.html'>Event Processing</a>
<ul style='display: none'>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121/notify-container-overview.html'>Notify Container</a>
<ul style='display: none'>
<li><a href='/xap121/notify-container.html'>Overview</a></li>
<li><a href='/xap121/notify-container-transactions.html'>Transaction Support</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121/session-based-messaging-api.html'>Session Based Messaging API</a>
<ul style='display: none'>
<li><a href='/xap121/durable-notifications.html'>Durable Notifications</a></li>
<li><a href='/xap121/custom-data-event-filters.html'>Custom Data Event Filters</a></li>
</ul>
</li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121/polling-container-overview.html'>Polling Container</a>
<ul style='display: none'>
<li><a href='/xap121/polling-container.html'>Overview</a></li>
<li><a href='/xap121/polling-container-transactions.html'>Transaction Support</a></li>
<li><a href='/xap121/polling-container-scaling.html'>Concurrent Consumers</a></li>
</ul>
</li>
<li><a href='/xap121/data-event-listener.html'>Data Event Listener</a></li>
<li><a href='/xap121/event-exception-handler.html'>Event Exception Handler</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121/fifo-overview.html'>FIFO Ordering</a>
<ul style='display: none'>
<li><a href='/xap121/fifo-support.html'>FIFO Support</a></li>
<li><a href='/xap121/fifo-grouping.html'>FIFO Grouping</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121/messaging-support.html'>JMS Messaging Support</a>
<ul style='display: none'>
<li><a href='/xap121/jms-api-basic-usage.html'>JMS Basics</a></li>
<li><a href='/xap121/jms-messages-in-gigaspaces.html'>JMS Messages in XAP</a></li>
<li><a href='/xap121/jms-space-interoperability.html'>JMS-Space Interoperability</a></li>
<li><a href='/xap121/jms-with-openspaces-example.html'>Example</a></li>
<li><a href='/xap121/jms-with-gigaspaces-jndi.html'>XAP JNDI</a></li>
<li><a href='/xap121/jms-with-gsjmsadmin.html'>Working with GSJMSAdmin</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121/jms-advanced.html'>Advanced Options</a>
<ul style='display: none'>
<li><a href='/xap121/jms-failover.html'>JMS Failover</a></li>
<li><a href='/xap121/jms-transactions-in-gigaspaces.html'>Transactions</a></li>
<li><a href='/xap121/jms-user-security.html'>Security</a></li>
<li><a href='/xap121/jms-queue-browser.html'>Browsing JMS Queues</a></li>
<li><a href='/xap121/jms-known-issues-and-considerations.html'>Known Issues and Considerations</a></li>
<li><a href='/xap121/jms-without-changing-the-classpath.html'>Using GigaSpaces JMS Without Changing the Classpath</a></li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121/space-based-remoting-overview.html'>Space Based Remoting</a>
<ul style='display: none'>
<li><a href='/xap121/space-based-remoting.html'>Overview</a></li>
<li><a href='/xap121/executor-based-remoting.html'>Executor Based Remoting</a></li>
<li><a href='/xap121/event-driven-remoting.html'>Event Driven Remoting</a></li>
<li><a href='/xap121/remoting-metadata.html'>Metadata Summary</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121/mule-esb.html'>Mule ESB Integration</a>
<ul style='display: none'>
<li><a href='/xap121/mule-event-container-transport.html'>Event Container Transport</a></li>
<li><a href='/xap121/mule-processing-unit.html'>Processing Unit</a></li>
<li><a href='/xap121/mule-queue-provider.html'>Queue Provider</a></li>
<li><a href='/xap121/mule-seda-model.html'>SEDA Model</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121/administration-and-monitoring-overview.html'>Admin API</a>
<ul style='display: none'>
<li><a href='/xap121/administration-and-monitoring-api.html'>Overview</a></li>
<li><a href='/xap121/dump.html'>Dump</a></li>
<li><a href='/xap121/administrative-alerts.html'>Administrative Alerts</a></li>
<li><a href='/xap121/snmp-connectivity-via-alert-logging-gateway.html'>SNMP Alerts</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121/the-processing-unit-overview.html'>The Processing Unit</a>
<ul style='display: none'>
<li><a href='/xap121/the-processing-unit-structure-and-configuration.html'>Directory Structure</a></li>
<li><a href='/xap121/configuring-processing-unit-elements.html'>Configuration</a></li>
<li><a href='/xap121/obtaining-cluster-information.html'>Cluster Information</a></li>
<li><a href='/xap121/reloading-business-logic.html'>Reloading Business Logic</a></li>
<li><a href='/xap121/custom-processing-unit-details-and-monitors.html'>Custom Processing Unit</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121/deploying-and-running-overview.html'>Deploying and Running</a>
<ul style='display: none'>
<li><a href='/xap121/deploying-and-running-the-processing-unit.html'>Overview</a></li>
<li><a href='/xap121/running-in-standalone-mode.html'>Standalone Mode</a></li>
<li><a href='/xap121/deploying-onto-the-service-grid.html'>Deploying onto the Grid</a></li>
<li><a href='/xap121/deployment-properties.html'>Deployment Properties</a></li>
</ul>
</li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121/elastic-processing-unit-overview.html'>Elastic Processing Unit</a>
<ul style='display: none'>
<li><a href='/xap121/elastic-processing-unit.html'>Overview</a></li>
<li><a href='/xap121/elastic-processing-unit-deploy.html'>Deployment</a></li>
<li><a href='/xap121/elastic-processing-unit-trigger.html'>Scale Triggers</a></li>
<li><a href='/xap121/elastic-processing-unit-provisioning.html'>Machine Provisioning</a></li>
<li><a href='/xap121/elastic-processing-unit-properties.html'>Configuration Properties</a></li>
<li><a href='/xap121/elastic-processing-unit-example.html'>Example</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121/web-application-overview.html'>Web Application Support</a>
<ul style='display: none'>
<li><a href='/xap121/web-application-support.html'>Web Application Support - Overview</a></li>
<li><a href='/xap121/web-jetty-processing-unit-container.html'>Jetty Processing Unit Container</a></li>
<li><a href='/xap121/http-session-management.html'>HTTP Session Management</a></li>
<li><a href='/xap121/web-processing-unit-container.html'>Web Processing Unit Container</a></li>
<li><a href='/xap121/apache-load-balancer-agent.html'>Apache Load Balancer Agent</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121/global-http-session-sharing-overview.html'>HTTP Session Sharing</a>
<ul style='display: none'>
<li><a href='/xap121/global-http-session-sharing.html'>Overview</a></li>
<li><a href='/xap121/global-http-session-sharing-configuration.html'>Configuration & Deployment</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121/multi-space-replication-overview.html'>Multi Site LAN Replication</a>
<ul style='display: none'>
<li><a href='/xap121/multi-space-replication-over-the-lan-or-vpn.html'>Overview</a></li>
<li><a href='/xap121/replication-gateway-lan-bootstrapping-process.html'>Gateway Bootstrapping</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121/multi-site-replication-overview.html'>Multi Site WAN Replication</a>
<ul style='display: none'>
<li><a href='/xap121/multi-site-replication-over-the-wan.html'>Overview</a></li>
<li><a href='/xap121/communication-filter-over-the-wan.html'>Communication Filter</a></li>
<li><a href='/xap121/replication-gateway-components.html'>Gateway Components</a></li>
<li><a href='/xap121/configuring-space-gateway-targets.html'>Configuring Targets</a></li>
<li><a href='/xap121/replication-gateway-bootstrapping-process.html'>Bootstrapping Process</a></li>
<li><a href='/xap121/multi-site-conflict-resolution.html'>Conflict Resolution</a></li>
<li><a href='/xap121/changing-multi-site-deployment-during-runtime.html'>Changing Deployment during Runtime</a></li>
<li><a href='/xap121/replication-gateway-filtering.html'>Filtering  Data</a></li>
<li><a href='/xap121/intercepting-replication-events-at-the-gateway.html'>Intercepting Replication Events</a></li>
<li><a href='/xap121/multi-site-replication-limitations.html'>Limitations</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121/interoperability-overview.html'>Platform Interoperability</a>
<ul style='display: none'>
<li><a href='/xap121/interoperability.html'>Overview</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121/rest-service-overview.html'>The REST Service</a>
<ul style='display: none'>
<li><a href='/xap121/rest-service.html'>Overview</a></li>
<li><a href='/xap121/rest-service-api.html'>REST API</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121/scala.html'>Scala</a>
<ul style='display: none'>
<li><a href='/xap121/scala-constructor-based-properties.html'>Constructor Based Properties</a></li>
<li><a href='/xap121/scala-task-execution.html'>Task Execution</a></li>
<li><a href='/xap121/scala-predicate-based-queries.html'>Predicate Based Queries</a></li>
<li><a href='/xap121/scala-scripting-executor.html'>Scripting Executor</a></li>
<li><a href='/xap121/scala-enhanced-repl.html'>Enhanced Scala REPL</a></li>
<li><a href='/xap121/scala-exemplary-project.html'>Example Project</a></li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121net/'>.NET Developers Guide</a>
<ul style='display: none'>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121nettut/'>Tutorials</a>
<ul style='display: none'>
<li><a href='/xap121nettut/installation.html'>Installation</a></li>
<li><a href='/xap121nettut/dotnet-your-first-data-grid-application.html'>XAP.NET in 5 Minutes</a></li>
<li><a href='/xap121nettut/net-tutorial-part1.html'>Interacting with the Space</a></li>
<li><a href='/xap121nettut/net-tutorial-part2.html'>Deploying a Space</a></li>
<li><a href='/xap121nettut/net-tutorial-part3.html'>Distributed Processing</a></li>
<li><a href='/xap121nettut/net-tutorial-part4.html'>Event-Driven Programming</a></li>
<li><a href='/xap121nettut/net-tutorial-part5.html'>Creating a Processing Unit</a></li>
<li><a href='/xap121nettut/net-tutorial-part6.html'>Transactions and Concurrency</a></li>
<li><a href='/xap121nettut/net-tutorial-part7.html'>Persist to Database</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121net/installation-overview.html'>Installation</a>
<ul style='display: none'>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121net/installation.html'>Overview</a>
<ul style='display: none'>
<li><a href='/xap121net/license-key.html'>License Key</a></li>
</ul>
</li>
<li><a href='/xap121net/product-structure.html'>Product structure</a></li>
<li><a href='/xap121net/advanced-installation-scenarios.html'>Advanced Scenarios</a></li>
<li><a href='/xap121net/gigaspaces-services-manager.html'>Services Manager</a></li>
<li><a href='/xap121net/debugging-a-xapnet-application.html'>Application Debugging</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121net/poco-overview.html'>PONO Support</a>
<ul style='display: none'>
<li><a href='/xap121net/poco-entries.html'>Overview</a></li>
<li><a href='/xap121net/poco-dynamic-properties.html'>Dynamic Properties</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121net/document-overview.html'>Space Document</a>
<ul style='display: none'>
<li><a href='/xap121net/document-api.html'>Document API</a></li>
<li><a href='/xap121net/document-extending.html'>Extending</a></li>
<li><a href='/xap121net/document-object-interoperability.html'>Interoperability</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121net/modeling-your-data.html'>Modeling your Data</a>
<ul style='display: none'>
<li><a href='/xap121net/poco-object-id.html'>Space Object ID</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121net/pono-annotation-overview.html'>Annotation based Metadata</a>
<ul style='display: none'>
<li><a href='/xap121net/pono-class-annotations.html'>Class Annotations</a></li>
<li><a href='/xap121net/pono-attribute-annotations.html'>Property Annotations</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121net/pono-xml-metadata-overview.html'>XML based Metadata</a>
<ul style='display: none'>
<li><a href='/xap121net/pono-xml-metadata-class.html'>Class Metadata</a></li>
<li><a href='/xap121net/pono-xml-metadata-attribute.html'>Properties Metadata</a></li>
</ul>
</li>
<li><a href='/xap121net/poco-storage-type.html'>Property Storage Type</a></li>
<li><a href='/xap121net/poco-type-discovery.html'>Type Discovery</a></li>
<li><a href='/xap121net/routing-in-partitioned-spaces.html'>Routing In Partitioned Spaces</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121net/the-gigaspace-interface-overview.html'>The Space Interface</a>
<ul style='display: none'>
<li><a href='/xap121net/the-gigaspace-interface.html'>Overview</a></li>
<li><a href='/xap121net/the-space-configuration.html'>Configuration</a></li>
<li><a href='/xap121net/the-space-operations.html'>Operations</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121net/change-api-overview.html'>Change API</a>
<ul style='display: none'>
<li><a href='/xap121net/change-api.html'>Overview</a></li>
<li><a href='/xap121net/change-api-advanced.html'>Advanced</a></li>
</ul>
</li>
<li><a href='/xap121net/the-space-counters.html'>Counters</a></li>
<li><a href='/xap121net/aggregators.html'>Aggregators</a></li>
<li><a href='/xap121net/the-space-notifications.html'>Notifications</a></li>
<li><a href='/xap121net/leases-automatic-expiration.html'>Lease Time</a></li>
<li><a href='/xap121net/the-space-filters.html'>Filters</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121net/querying-the-space.html'>Querying the Space</a>
<ul style='display: none'>
<li><a href='/xap121net/query-by-id.html'>ID Queries</a></li>
<li><a href='/xap121net/query-template-matching.html'>Template Matching</a></li>
<li><a href='/xap121net/query-prepared-template.html'>Prepared Template</a></li>
<li><a href='/xap121net/query-nested-properties.html'>Nested Properties</a></li>
<li><a href='/xap121net/query-sql.html'>SqlQuery</a></li>
<li><a href='/xap121net/query-free-text-search.html'>Free Text Search</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121net/query-paging-support.html'>Paging Support</a>
<ul style='display: none'>
<li><a href='/xap121net/query-paging-support-old.html'>Paging Support - Old</a></li>
</ul>
</li>
<li><a href='/xap121net/query-partial-results.html'>Projection</a></li>
<li><a href='/xap121net/query-linq.html'>LINQ</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121net/indexing-overview.html'>Indexing</a>
<ul style='display: none'>
<li><a href='/xap121net/indexing.html'>Basic Index</a></li>
<li><a href='/xap121net/indexing-nested-properties.html'>Nested Property Index</a></li>
<li><a href='/xap121net/indexing-collections.html'>Collection Index</a></li>
<li><a href='/xap121net/indexing-compound.html'>Compound Index</a></li>
<li><a href='/xap121net/indexing-unique.html'>Unique Index</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121net/transaction-overview.html'>Transactions</a>
<ul style='display: none'>
<li><a href='/xap121net/transaction-management.html'>Transaction Management</a></li>
<li><a href='/xap121net/transaction-locking-and-blocking.html'>Locking and Blocking</a></li>
<li><a href='/xap121net/transaction-read-modifiers.html'>Read Modifiers</a></li>
<li><a href='/xap121net/transaction-optimistic-locking.html'>Optimistic Locking</a></li>
<li><a href='/xap121net/transaction-pessimistic-locking.html'>Pessimistic Locking</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121net/space-persistency-overview.html'>Space Persistency</a>
<ul style='display: none'>
<li><a href='/xap121net/space-persistency.html'>Overview</a></li>
<li><a href='/xap121net/direct-persistency.html'>Direct Persistency</a></li>
<li><a href='/xap121net/hibernate-space-persistency.html'>NHibernate Integration</a></li>
<li><a href='/xap121net/space-persistency-initial-load.html'>Initial Load</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121net/asynchronous-persistency-with-the-mirror.html'>Asynchronous Persistency - Write Behind</a>
<ul style='display: none'>
<li><a href='/xap121net/async-persistency-mirror-advanced.html'>Advanced Configuration</a></li>
</ul>
</li>
<li><a href='/xap121net/transient-entries.html'>Transient Entries</a></li>
<li><a href='/xap121net/space-persistency-advanced-topics.html'>Advanced Topics</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121net/client-side-caching.html'>Client Side Caching</a>
<ul style='display: none'>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121net/local-cache.html'>Local Cache</a>
<ul style='display: none'>
<li><a href='/xap121net/cache-eviction-strategy.html'>Cache Eviction Strategy</a></li>
</ul>
</li>
<li><a href='/xap121net/local-view.html'>Local View</a></li>
</ul>
</li>
<li><a href='/xap121net/task-execution-over-the-space.html'>Task Execution</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121net/event-processing.html'>Event Processing</a>
<ul style='display: none'>
<li><a href='/xap121net/event-listener-container.html'>Event Listener Container</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121net/notify-container-overview.html'>Notify Container</a>
<ul style='display: none'>
<li><a href='/xap121net/notify-container.html'>Overview</a></li>
<li><a href='/xap121net/notify-container-transactions.html'>Transaction support</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121net/polling-container-overview.html'>Polling Container</a>
<ul style='display: none'>
<li><a href='/xap121net/polling-container.html'>Overview</a></li>
<li><a href='/xap121net/polling-container-scaling.html'>Concurrent Consumers</a></li>
<li><a href='/xap121net/polling-container-transactions.html'>Transaction support</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121net/fifo-overview.html'>FIFO Ordering</a>
<ul style='display: none'>
<li><a href='/xap121net/fifo-support.html'>FIFO Support</a></li>
<li><a href='/xap121net/fifo-grouping.html'>FIFO Grouping</a></li>
</ul>
</li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121net/space-based-remoting-overview.html'>Space Based Remoting</a>
<ul style='display: none'>
<li><a href='/xap121net/domain-service-host.html'>Domain Service Host</a></li>
<li><a href='/xap121net/executor-based-remoting.html'>Executor Based Remoting</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121net/admin-modules.html'>Admin Modules</a>
<ul style='display: none'>
<li><a href='/xap121net/administration-and-monitoring-api.html'>Administration API</a></li>
<li><a href='/xap121net/scaling-agent-example.html'>Scaling Agent Example</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121net/the-processing-unit-overview.html'>The Processing Unit</a>
<ul style='display: none'>
<li><a href='/xap121net/pu-config.html'>Configuration</a></li>
<li><a href='/xap121net/pu-components.html'>Components</a></li>
<li><a href='/xap121net/obtaining-cluster-information.html'>Cluster Information</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121net/administrators-guide.html'>Deployment and Administration</a>
<ul style='display: none'>
<li><a href='/xap121net/system-configuration.html'>System Configuration</a></li>
<li><a href='/xap121net/system-configuration-list.html'>Platform Configuration</a></li>
<li><a href='/xap121net/jvm-configuration.html'>JVM Configuration</a></li>
<li><a href='/xap121net/log-configuration.html'>Logging</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121net/interoperability.html'>Platform Interoperability</a>
<ul style='display: none'>
<li><a href='/xap121net/dotnet-java-interoperability.html'>.NET-Java Interoperability</a></li>
<li><a href='/xap121net/interoperability-of-user-defined-objects.html'>User-Defined Objects</a></li>
</ul>
</li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121adm/'>Administrators Guide</a>
<ul style='display: none'>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121adm/gigaspaces-management-center.html'>Management Center</a>
<ul style='display: none'>
<li><a href='/xap121adm/gigaspaces-browser.html'>Main View</a></li>
<li><a href='/xap121adm/gigaspaces-browser-menus-and-buttons.html'>Menus and Buttons</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121adm/gigaspaces-browser-tree-panel-and-configuration-panel.html'>Grid Tree & Configuration</a>
<ul style='display: none'>
<li><a href='/xap121adm/gigaspaces-browser-connection-view.html'>Connections View</a></li>
<li><a href='/xap121adm/gigaspaces-browser-data-types-view.html'>Data Types View</a></li>
<li><a href='/xap121adm/gigaspaces-browser-object-inspector.html'>Object Inspector</a></li>
<li><a href='/xap121adm/gigaspaces-browser-query-view.html'>Query View</a></li>
<li><a href='/xap121adm/gigaspaces-browser-statistics-view.html'>Statistics View</a></li>
<li><a href='/xap121adm/gigaspaces-browser-transaction-view.html'>Transactions View</a></li>
</ul>
</li>
<li><a href='/xap121adm/gigaspaces-browser-managing-space-container.html'>Space Containers</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121adm/working-with-clusters-gigaspaces-browser.html'>Working with Clusters</a>
<ul style='display: none'>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121adm/cluster-view-gigaspaces-browser.html'>Cluster View</a>
<ul style='display: none'>
<li><a href='/xap121adm/customizing-cluster-view-gigaspaces-browser.html'>Customizing</a></li>
<li><a href='/xap121adm/viewing-cluster-policy-settings-for-space-gigaspaces-browser.html'>Policy Settings</a></li>
<li><a href='/xap121adm/viewing-space-interrelations-in-cluster-gigaspaces-browser.html'>Space Inter-relations</a></li>
<li><a href='/xap121adm/visualizing-cluster-groups-and-members-gigaspaces-browser.html'>Groups and Members</a></li>
</ul>
</li>
<li><a href='/xap121adm/failover-group-gigaspaces-browser.html'>Failover Group</a></li>
<li><a href='/xap121adm/load-balancing-group-gigaspaces-browser.html'>Load-Balancing Group</a></li>
<li><a href='/xap121adm/replication-group-gigaspaces-browser.html'>Replication Group</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121adm/working-with-spaces-gigaspaces-browser.html'>Working with Spaces</a>
<ul style='display: none'>
<li><a href='/xap121adm/space-jms-gigaspaces-browser.html'>Space JMS</a></li>
<li><a href='/xap121adm/space-maintenance-gigaspaces-browser.html'>Maintenance</a></li>
<li><a href='/xap121adm/space-memory-management-gigaspaces-browser.html'>Memory Management</a></li>
<li><a href='/xap121adm/space-serialization-and-engine-thread-pool-gigaspaces-browser.html'>Serialization and Thread Pool</a></li>
<li><a href='/xap121adm/space-timeout,-filters-and-lease-manager-gigaspaces-browser.html'>Timeout, Filters and Lease Manager</a></li>
</ul>
</li>
<li><a href='/xap121adm/pending-notify-templates-information.html'>Pending Notify Templates</a></li>
<li><a href='/xap121adm/gigaspaces-management-center-ui-security.html'>Security</a></li>
<li><a href='/xap121adm/gigaspaces-dump.html'>Dump</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121adm/web-management-console.html'>Web Management Console</a>
<ul style='display: none'>
<li><a href='/xap121adm/web-management-console-console.html'>Overview</a></li>
<li><a href='/xap121adm/web-management-console-configuration.html'>Configuration</a></li>
<li><a href='/xap121adm/web-management-console-starting.html'>Starting the Console</a></li>
<li><a href='/xap121adm/web-management-hosts-view.html'>Hosts</a></li>
<li><a href='/xap121adm/web-management-common-view.html'>Menu Bar</a></li>
<li><a href='/xap121adm/web-management-pu.html'>Processing Units</a></li>
<li><a href='/xap121adm/web-management-data-grid-view.html'>Spaces</a></li>
<li><a href='/xap121adm/web-management-monitoring.html'>Monitoring</a></li>
<li><a href='/xap121adm/web-management-dump.html'>Dump</a></li>
</ul>
</li>
<li><a href='/xap121adm/xap-manager-rest.html'>Manager API</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121adm/data-grid-clustering.html'>Data Grid Clustering</a>
<ul style='display: none'>
<li><a href='/xap121adm/data-grid-clustering-overview.html'>Clustering</a></li>
<li><a href='/xap121adm/clustered-vs-non-clustered-proxies.html'>Clustered vs Non-Clustered Proxies</a></li>
<li><a href='/xap121adm/consistency-level.html'>Consistency Level</a></li>
<li><a href='/xap121adm/data-partitioning.html'>Data-Partitioning</a></li>
<li><a href='/xap121adm/failover.html'>Failover</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121adm/replication.html'>Replication</a>
<ul style='display: none'>
<li><a href='/xap121adm/replication-overview.html'>Overview</a></li>
<li><a href='/xap121adm/replication-topologies.html'>Topologies</a></li>
<li><a href='/xap121adm/synchronous-replication.html'>Synchronous Replication</a></li>
<li><a href='/xap121adm/asynchronous-replication.html'>Asynchronous Replication</a></li>
<li><a href='/xap121adm/space-instance-recovery.html'>Space Instance Recovery</a></li>
<li><a href='/xap121adm/cluster-replication-filters.html'>Replication Filters</a></li>
<li><a href='/xap121adm/replication-operations.html'>Replication Operations</a></li>
<li><a href='/xap121adm/controlling-the-replication-redo-log.html'>Controlling the Replication Redo Log</a></li>
<li><a href='/xap121adm/replication-parameters.html'>Replication Parameters</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121adm/leader-election.html'>Leader Election</a>
<ul style='display: none'>
<li><a href='/xap121adm/leader-election-overview.html'>Overview</a></li>
<li><a href='/xap121adm/leader-election-consistency-biased.html'>Consistency Biased</a></li>
<li><a href='/xap121adm/leader-election-availability-biased.html'>Availability Biased</a></li>
</ul>
</li>
<li><a href='/xap121adm/split-brain-and-primary-resolution.html'>Split Brain and Primary Resolution</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121adm/the-sla-overview.html'>Service Level Agreement</a>
<ul style='display: none'>
<li><a href='/xap121adm/the-sla.html'>Overview</a></li>
<li><a href='/xap121adm/the-sla-zones.html'>Hosts, Zones & Machine Utilization</a></li>
<li><a href='/xap121adm/the-sla-deterministic.html'>Deterministic Deployment</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121adm/memory-management-overview.html'>Memory Management</a>
<ul style='display: none'>
<li><a href='/xap121adm/memory-management-facilities.html'>Overview</a></li>
<li><a href='/xap121adm/all-in-cache-cache-policy.html'>ALL IN CACHE-Cache Policy</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121adm/lru-cache-policy.html'>LRU-Cache Policy</a>
<ul style='display: none'>
<li><a href='/xap121adm/custom-eviction-policy.html'>Custom Eviction Policy</a></li>
</ul>
</li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121adm/memoryxtend-overview.html'>MemoryXtend</a>
<ul style='display: none'>
<li><a href='/xap121adm/memoryxtend.html'>Overview</a></li>
<li><a href='/xap121adm/memoryxtend-rocksdb-ssd.html'>MemoryXtend for Flash/SSD</a></li>
<li><a href='/xap121adm/memoryxtend-ohr.html'>MemoryXtend for Off-Heap RAM</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121adm/logging-overview.html'>Logging</a>
<ul style='display: none'>
<li><a href='/xap121adm/logging.html'>Overview</a></li>
<li><a href='/xap121adm/logging-formatting-messages.html'>Formatting Log Messages</a></li>
<li><a href='/xap121adm/logging-api.html'>Logging API</a></li>
<li><a href='/xap121adm/logging-managing-files.html'>Managing Log Files</a></li>
<li><a href='/xap121adm/logging-backing-custom-policy.html'>Backing-up Files With a Custom Policy</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121adm/administration-tools.html'>Administration Tools</a>
<ul style='display: none'>
<li><a href='/xap121adm/scripts.html'>Scripts</a></li>
<li><a href='/xap121adm/command-line-interface.html'>Command Line Interface</a></li>
<li><a href='/xap121adm/deploy-command-line-interface.html'>Deploy with Command Line</a></li>
<li><a href='/xap121adm/deploy-rest.html'>Deploy with REST</a></li>
<li><a href='/xap121adm/elastic-deploy-command-line-interface.html'>Elastic Deployment with Command Line</a></li>
<li><a href='/xap121adm/rest-deploy-command-line-interface.html'>Deploying REST service with Command Line</a></li>
<li><a href='/xap121adm/space-gigaspaces-cli.html'>Space Command Line Interface</a></li>
<li><a href='/xap121adm/quiesce-command-line-interface.html'>Quiesce Command Line</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121adm/runtime-configuration.html'>The Service Grid</a>
<ul style='display: none'>
<li><a href='/xap121adm/service-grid.html'>Overview</a></li>
<li><a href='/xap121adm/the-runtime-environment.html'>GS-Agent</a></li>
<li><a href='/xap121adm/xap-manager.html'>XAP Manager</a></li>
<li><a href='/xap121adm/the-lookup-service.html'>The Lookup Service</a></li>
<li><a href='/xap121adm/lus-configuration.html'>Global vs. Local LUS</a></li>
<li><a href='/xap121adm/gsm-configuration.html'>Global vs. Local GSM</a></li>
<li><a href='/xap121adm/system-properties.html'>System Properties</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121adm/network.html'>Network Configuration</a>
<ul style='display: none'>
<li><a href='/xap121adm/network-unicast-discovery.html'>Unicast Discovery</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121adm/network-multicast.html'>Multicast Configuration</a>
<ul style='display: none'>
<li><a href='/xap121adm/network-multicast-is-available.html'>Is Multicast Available</a></li>
</ul>
</li>
<li><a href='/xap121adm/network-lookup-service-configuration.html'>Lookup Service Configuration</a></li>
<li><a href='/xap121adm/network-over-nat.html'>XAP Over NAT</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121adm/network-multi-nic.html'>Multiple Network-Cards</a>
<ul style='display: none'>
<li><a href='/xap121adm/network-multi-nic-advanced.html'>Advanced Configuration</a></li>
</ul>
</li>
<li><a href='/xap121adm/network-over-firewall.html'>XAP Over a Firewall</a></li>
<li><a href='/xap121adm/network-ports.html'>Port usage Control</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121adm/monitoring.html'>Monitoring</a>
<ul style='display: none'>
<li><a href='/xap121adm/monitoring-network-activity.html'>Network Monitoring</a></li>
<li><a href='/xap121adm/space-jmx-management.html'>JMX Management</a></li>
<li><a href='/xap121adm/suggested-monitoring-tools.html'>Monitoring Tools</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121adm/metrics-overview.html'>Metrics</a>
<ul style='display: none'>
<li><a href='/xap121adm/metrics-configuration.html'>Configuration</a></li>
<li><a href='/xap121adm/metrics-influxdb-reporter.html'>InfluxDB Reporter</a></li>
<li><a href='/xap121adm/ca-apm-introscope-reporter.html'>CA APM Introscope Reporter</a></li>
<li><a href='/xap121adm/metrics-custom-reporter.html'>Custom Reporter</a></li>
<li><a href='/xap121adm/metrics-user-defined.html'>User Defined Metrics</a></li>
<li><a href='/xap121adm/metrics-bundled.html'>Predefined Metrics</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121adm/tuning.html'>Performance Tuning</a>
<ul style='display: none'>
<li><a href='/xap121adm/tuning-infrastructure.html'>Infrastructure</a></li>
<li><a href='/xap121adm/tuning-gigaspaces-performance.html'>Application</a></li>
<li><a href='/xap121adm/slow-consumer.html'>Slow Consumer</a></li>
<li><a href='/xap121adm/tuning-large-scale-deployment.html'>Large Scale Deployment</a></li>
<li><a href='/xap121adm/tuning-proxy-connectivity.html'>Proxy Connectivity</a></li>
<li><a href='/xap121adm/tuning-handling-large-objects.html'>Handling Large Objects</a></li>
<li><a href='/xap121adm/tuning-communication-protocol.html'>Communication Protocol</a></li>
<li><a href='/xap121adm/tuning-java-virtual-machines.html'>Java Virtual Machines</a></li>
<li><a href='/xap121adm/tuning-threads-usage.html'>Threads Usage</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121adm/benchmarking.html'>Benchmarking</a>
<ul style='display: none'>
<li><a href='/xap121adm/benchmarking-intro.html'>Overview</a></li>
<li><a href='/xap121adm/benchmark-utility-cli.html'>Utility</a></li>
<li><a href='/xap121adm/benchmark-browser.html'>Benchmark View</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121adm/quiescemode.html'>Quiesce Mode</a>
<ul style='display: none'>
<li><a href='/xap121adm/quiesce-overview.html'>Overview</a></li>
<li><a href='/xap121adm/quiesce-pu-api.html'>API and Usage</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121adm/troubleshooting.html'>Troubleshooting</a>
<ul style='display: none'>
<li><a href='/xap121adm/troubleshooting-common-user-issues.html'>Common User Issues</a></li>
<li><a href='/xap121adm/troubleshooting-protective-modes.html'>Protective Modes</a></li>
<li><a href='/xap121adm/troubleshooting-testing-system-environment.html'>Testing System Environment</a></li>
<li><a href='/xap121adm/troubleshooting-viewing-clustered-space-status.html'>Viewing Clustered Space Status</a></li>
<li><a href='/xap121adm/troubleshooting-failure-detection.html'>Failure Detection</a></li>
<li><a href='/xap121adm/troubleshooting-tools.html'>Tools</a></li>
</ul>
</li>
<li><a href='/xap121adm/moving-into-production-checklist.html'>Moving into Production Checklist</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121sec/'>Security Guide</a>
<ul style='display: none'>
<li><a href='/xap121sec/security.html'>Overview</a></li>
<li><a href='/xap121sec/security-concepts.html'>Concepts</a></li>
<li><a href='/xap121sec/security-authorities.html'>Authorities and Privileges</a></li>
<li><a href='/xap121sec/security-directory-manager.html'>Directory Management</a></li>
<li><a href='/xap121sec/security-configurations.html'>Configuration</a></li>
<li><a href='/xap121sec/security-ref-impl.html'>Reference Implementation</a></li>
<li><a href='/xap121sec/default-file-based-security-implementation-ext.html'>Default File-Based Security</a></li>
<li><a href='/xap121sec/security-authorities-ext.html'>Administration Authorities</a></li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121sec/securing-xap-components.html'>Securing Components</a>
<ul style='display: none'>
<li><a href='/xap121sec/security-configurations-ext.html'>Component Configuration</a></li>
<li><a href='/xap121sec/securing-your-data.html'>Data</a></li>
<li><a href='/xap121sec/securing-the-grid-services.html'>Grid Services</a></li>
<li><a href='/xap121sec/securing-the-transport-layer-using-ssl.html'>Securing the Transport Layer</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121sec/custom-security.html'>Custom Security</a>
<ul style='display: none'>
<li><a href='/xap121sec/custom-security-overview.html'>Overview</a></li>
<li><a href='/xap121sec/custom-authentication.html'>Authentication</a></li>
<li><a href='/xap121sec/custom-user-role-management.html'>User-Role Management</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121sec/spring-security-bridge.html'>Spring Security Bridge</a>
<ul style='display: none'>
<li><a href='/xap121sec/introducing-spring-security.html'>Spring Security</a></li>
<li><a href='/xap121sec/gigaspaces-spring-based-security-bridge.html'>Spring-based bridge</a></li>
<li><a href='/xap121sec/authenticating-against-a-database.html'>Database Authentication</a></li>
<li><a href='/xap121sec/authenticating-against-an-ldap-repository.html'>LDAP Authentication</a></li>
</ul>
</li>
<li class='expandable'><div class='hitarea expandable-hitarea'></div><a href='/xap121sec/security-administration.html'>Administration</a>
<ul style='display: none'>
<li><a href='/xap121sec/command-line-interface-cli-security.html'>Command Line Interface</a></li>
<li><a href='/xap121sec/administration-and-monitoring-api-security.html'>Security Admin API</a></li>
<li><a href='/xap121sec/auditing.html'>Auditing</a></li>
<li><a href='/xap121sec/java-security-policy-file.html'>Java Security Policy File</a></li>
</ul>
</li>
<li><a href='/xap121sec/securing-the-helloworld-example.html'>HelloWorld example</a></li>
</ul>
</li>
