hugo
**/public*
/.idea
hugo.exe
hugo 
_site/
target/
*.test
*.prof
nohup.out
cover.out
*.swp
*.swo
.DS_Store
*~
**/.idea/ 
**/*.iml
**/.DS_Store
.idea/
*.iml
*.iws
sites/themes/xap-themne/layouts/partials/sidenav*
sites/themes/ie-themne/layouts/partials/sidenav*
